

<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">
    Configure departments in your organization to organize job openings.
  </div>
</div>


<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewDepartment()" mat-raised-button color="primary" style="outline: 0;">
      Create New Department
    </button>
  </div>
</div>


<br>
<br>

<div  *ngFor="let department of departments; let i = index">

  <div class="row">
    <div class="col-xl-10">
      {{ department.Name }}
    </div>

    <div class="col-xl-1">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #345188; font-size: 17px;"
        (click)="editDepartment(department)"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>

    <div class="col-xl-1" *ngIf="i > 2">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #bc0000; font-size: 17px;"
        (click)="deleteDepartment(department.Id, i)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>


  </div>

  <hr *ngIf="i !== departments.length - 1">
  <br *ngIf="i === departments.length - 1">

</div>
