<br>
<br>

<div  *ngFor="let userAccount of userAccounts; let i = index">

  <div class="row">
    <div class="col-xl-10">
      <span style="outline: 0; cursor: pointer;"
            routerLink="/settings/manage-user-accounts/{{ userAccount.Id }}">

        {{ userAccount.UserName }}
        <span style="font-size: 13px;" *ngIf="userAccount.IsOwner">
        <i class="fas fa-shield-alt"></i>
        </span>
      <span style="font-size: 11px"> &nbsp;
        {{ userAccount.RoleName }}
      </span>

      </span>

    </div>

    <div class="col-xl-1">
      <i routerLink="/settings/manage-user-accounts/{{userAccount.Id}}/edit-user-account"
         style="cursor: pointer; opacity: .8; outline: 0;
               color: #345188; font-size: 17px;" class="fas fa-pencil-alt"></i>
    </div>

    <div
      class="col-xl-1" *ngIf="!userAccount.IsOwner">
      <i
        [attr.disabled] = "isDisabled"
        (click)="deleteUserAccount(userAccount.Id, i)"
        style="cursor: pointer; opacity: .8;
               color: #bc0000; font-size: 17px;" class="far fa-trash-alt"></i> &nbsp;
    </div>
  </div>



  <hr *ngIf="i !== userAccounts.length - 1">
  <br *ngIf="i === userAccounts.length - 1">

</div>
