<br>
<br>

<div  *ngFor="let userAccount of userAccounts; let i = index">

  <div class="row">
    <div class="col-xl-10">
      <span style="outline: 0; cursor: pointer;"
            routerLink="/settings/manage-user-accounts/{{ userAccount.Id }}">

        {{ userAccount.UserName }}
        <span style="font-size: 13px;" *ngIf="userAccount.IsOwner">
        <i class="fas fa-shield-alt"></i>
        </span>
      <span style="font-size: 11px"> &nbsp;
        {{ userAccount.RoleName }}
      </span>

      </span>

    </div>



    <div class="col-xl-1">
      <button
        routerLink="/settings/manage-user-accounts/{{ userAccount.Id }}/edit-user-account"
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        color: #345188; font-size: 17px;"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>

    <div class="col-xl-1" *ngIf="!userAccount.IsOwner">

      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        color: #bc0000; font-size: 17px;"
        (click)="deleteUserAccount(userAccount.Id, i)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>

  </div>



  <hr *ngIf="i !== userAccounts.length - 1">
  <br *ngIf="i === userAccounts.length - 1">

</div>
