<form [formGroup]="textFieldForm"
      #form="ngForm">



<h3 mat-dialog-title>{{ data.header }}</h3>




<div class="row">
  <div class="col-xl-2">
    <i style="font-size: 40px;" [ngClass]="data.iconClass" ></i>
  </div>

  <div class="col-xl-10">
    <mat-form-field style="width: 100%">
      <input required
             formControlName="inputText"
             matInput>
      <mat-error>This field is required!</mat-error>
    </mat-form-field>
  </div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-xl-12" style="font-size: 12px; opacity: .7;">

    {{ data.footer }}

  </div>
</div>





  <div>

    <mat-dialog-actions align="end">
      <button
        mat-flat-button
        [disabled]="!form.valid"
        color="primary"
        (click)="confirmClick()"
        style="outline: 0;"
      >Save</button>
      <button
        mat-stroked-button
        (click)="cancelClick()"
        style="outline: 0;"
        >Cancel</button>
    </mat-dialog-actions>


  </div>

</form>
