<form
  [formGroup]="commentForm"
  #form="ngForm">

<div class="row">

  <div class="col-xl-8" style=" font-size: 17px; font-weight: bold; padding-top: 3px">

      <i class="fas fa-flag-checkered"></i> {{ currentPipelineStageName }}

  </div>

  <div class="col-xl-4 text-xl-center">
    <h4>Change Status</h4>
  </div>

</div>

  <div
    *ngIf="currentPipelineStageId !== 7 &&
     currentPipelineStageId !== 8 &&
     currentPipelineStageId !== 9; else notHiredOrDisqualifed"
    class="row" style="padding-top: 0; padding-bottom: 10px;">
    <div class="col-xl-3">

        <star-rating
          style="cursor: pointer;"
          size="medium"
          staticColor="123"
          [rating]="getPipelineStageScore(currentPipelineStageId)"
          [starType]="'svg'"
          [hoverEnabled]="true"
          (ratingChange)="updatePipelineStageScore($event.rating, currentPipelineStageId)"
        ></star-rating>
    </div>

    <div class="col-xl-8" style="margin-left: -45px;">
      <i
        style="cursor: pointer;"
        (click)="updatePipelineStageScore(0, currentPipelineStageId)"
        class="far fa-times-circle"></i>
    </div>
  </div>

<ng-template #notHiredOrDisqualifed>

  <div style="padding-top: 5px; padding-bottom: 5px;"></div>

</ng-template>




<mat-tab-group

  disableRipple="true"
  [selectedIndex]="data.selectTab"
  (selectedIndexChange)="pipelineStageChanged($event)">


    <mat-tab
      *ngFor="let pipelineStage of pipelineStages;">
      <ng-template mat-tab-label >
        <input
          readonly
          style="outline: 0;
                border: 1px solid white;
                border-radius: 3px;
                cursor: pointer; height: 25px; width: 25px;"
          [style.background]="pipelineStage.Color"/> &nbsp;
        {{ pipelineStage.Name }}
      </ng-template>

      <ng-template matTabContent>

        <div
          *ngIf="pipelineStage.PipelineStageCriteria !== null; else criterionNotExist"
          style="height: 30vh;
         overflow-y: scroll;
         padding-top: 20px;
         overflow-x: hidden;">

          <div class="row"
               style="font-size: 15px;
                 padding-bottom: 10px;
                 padding-right: 10px;
                 padding-top: 6px"
               *ngFor="let pipelineStageCriterion of pipelineStage.PipelineStageCriteria">
            <div class="col-xl-8" style="padding-left: 25px;">

              <i class="fas fa-flag"></i> &nbsp; {{ pipelineStageCriterion.Name }}

            </div>

            <div class="col-xl-3 text-xl-right" style="padding-left: 60px;">

              <star-rating
                style="cursor: pointer;"
                size="medium"
                staticColor="123"
                [starType]="'svg'"
                [hoverEnabled]="true"
                [rating]="getPipelineStageCriterionScore(pipelineStageCriterion.Id)"
                (ratingChange)="updatePipelineStageCriterionScore(
                $event.rating,
                pipelineStageCriterion.Id,
                pipelineStageCriterion.Name
                )"
              ></star-rating>

            </div>

            <div class="col-xl-1">

              <i
                style="cursor: pointer;"
                (click)="updatePipelineStageCriterionScore(
                0,
                pipelineStageCriterion.Id,
                pipelineStageCriterion.Name
                )"
                class="far fa-times-circle"></i>
            </div>

          </div>

        </div>

        <ng-template #criterionNotExist>

          <div class="row"
               style="
               text-align: center;
               font-weight: bold;
               font-size: 14px;
               opacity: .6;
               height: 30vh;">

            <div class="col-xl-12" style="padding-top: 20px;">
              No stage criterion is available here.
            </div>

          </div>


          <div class="row" >
            <div class="offset-xl-1 col-xl-10"
                 *ngIf="currentPipelineStageName === 'Rejected'">

              <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Select Rejected Reason</mat-label>
                <mat-select
                  formControlName="rejectedReason">
                  <mat-option>Select Rejected Reason</mat-option>
                  <mat-option *ngFor = "let rejectedReason of data.rejectedReasons"
                              [value] = "rejectedReason.Name"> {{ rejectedReason.Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>


          <div class="row" >
            <div class="offset-xl-1 col-xl-10"
                 *ngIf="currentPipelineStageName === 'Withdrawn'">

              <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Select Withdrawn Reason</mat-label>
                <mat-select
                  formControlName="withdrawnReason">
                  <mat-option>Select Withdrawn Reason</mat-option>
                  <mat-option *ngFor = "let withdrawnReason of data.withdrawnReasons"
                              [value] = "withdrawnReason.Name"> {{ withdrawnReason.Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>



        </ng-template>

        <div class="row" style="padding-top: 30px;">
          <div class="offset-xl-1 col-xl-10">


              <mat-form-field appearance="outline" style="width: 100%">
                <textarea
                  formControlName="comment"
                  matInput placeholder="Internal comment"></textarea>
                <mat-error>No white space is allowed!</mat-error>
              </mat-form-field>


          </div>
        </div>


      </ng-template>




    </mat-tab>
</mat-tab-group>

<div>
  <mat-dialog-actions align="end">
    <button
      [disabled]="!form.valid"
      mat-flat-button
      (click)="confirmClick()"
      color="primary"
      style="outline: 0;"
    >Save</button>
    <button
      mat-stroked-button
      (click)="cancelClick()"
      style="outline: 0;"
    >Cancel</button>

  </mat-dialog-actions>
</div>
</form>
