
<div class="row">
  <div class="col-xl-12">
    <h4>Workflow</h4>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12" style="font-size: 14px;  color: #656c8a;">
    Define your recruitment workflow by creating different stages to match
    the actual recruitment procedure followed in your organization.
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button
      routerLink="/settings/workflow/add-new-workflow"
      mat-raised-button color="primary" style="outline: 0;">
      Create New Workflow
    </button>
  </div>
</div>

<br>
<br>

<router-outlet></router-outlet>
