


<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">
    Manage different sources you would be recruiting from. This will help you track the effectiveness of your recruitment sources.
  </div>
</div>



<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewSourceDialog()" mat-raised-button color="primary" style="outline: 0;">
      Add New Source
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">


  </div>
</div>
