


<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">
    Manage different sources you would be recruiting from. This will help you track the effectiveness of your recruitment sources.
  </div>
</div>



<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewSource()" mat-raised-button color="primary" style="outline: 0;">
      Add New Source
    </button>
  </div>
</div>

<br>
<br>

<div  *ngFor="let source of sources; let i = index">

  <div class="row">
    <div class="col-xl-10">
      {{ source.Name }}
    </div>

    <div class="col-xl-1">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        color: #345188; font-size: 17px;"
        (click)="editSource(source)"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>

    <div class="col-xl-1" *ngIf="i > 2">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        color: #bc0000; font-size: 17px;"
        (click)="deleteSource(source.Id, i)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>


  </div>

  <hr *ngIf="i !== sources.length - 1">
  <br *ngIf="i === sources.length - 1">

</div>


