


<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">
    Manage different sources you would be recruiting from. This will help you track the effectiveness of your recruitment sources.
  </div>
</div>



<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewSourceDialog()" mat-raised-button color="primary" style="outline: 0;">
      Add New Source
    </button>
  </div>
</div>

<br>
<br>

<div  *ngFor="let source of sources; let i = index">

  <div class="row">
    <div class="col-xl-10">
      {{ source.Name }}
    </div>

    <div class="col-xl-1" *ngIf="i > 3">
      <i (click)="editSource(source)" style="cursor: pointer; opacity: .8;
               color: #345188; font-size: 17px;" class="fas fa-pencil-alt"></i>
    </div>

    <div class="col-xl-1" *ngIf="i > 3">
      <i style="cursor: pointer; opacity: .8;
               color: #bc0000; font-size: 17px;" class="far fa-trash-alt"></i> &nbsp;
    </div>

  </div>

  <hr *ngIf="i !== sources.length - 1">
  <br *ngIf="i === sources.length - 1">

</div>


