
<div class="row">
  <div class="col-xl-12">
    <h4>Disqualify Reasons</h4>
  </div>
</div>

<br>

<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">Define your default reasons for rejecting Candidates.
    You can add reasons for Rejections as well as Withdrawals.
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12">
    <h6>REASONS FOR REJECTION BY HIRING MANAGER</h6>
  </div>
</div>

<hr>

<div  *ngFor="let rejectedReason of rejectedReasons; let i = index">

  <div class="row">
    <div class="col-xl-10">
      {{ rejectedReason.Name }}
    </div>

    <div class="col-xl-1">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #345188; font-size: 17px;"
        (click)="editRejectedReason(rejectedReason)"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>

    </div>

    <div class="col-xl-1" *ngIf="i > 2">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #bc0000; font-size: 17px;"
        (click)="deleteRejectedReason(rejectedReason.Id, i)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>

  </div>

  <hr *ngIf="i !== rejectedReasons.length - 1">
  <br *ngIf="i === rejectedReasons.length - 1">

</div>



<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewRejectedReason()"
            mat-stroked-button color="primary" style="outline: 0;">
      <i class="fas fa-plus-circle"></i> Add Reason
    </button>
  </div>
</div>

<br>
<br>


<div class="row">
  <div class="col-xl-12">
    <h6>REASONS FOR WITHDRAWAL OF APPLICATION BY CANDIDATE</h6>
  </div>
</div>
<hr>
<div  *ngFor="let withdrawnReason of withdrawnReasons; let j = index">

  <div class="row">
    <div class="col-xl-10">
      {{ withdrawnReason.Name }}
    </div>

    <div class="col-xl-1" *ngIf="j > 2">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #345188; font-size: 17px;"
        (click)="editWithdrawnReason(withdrawnReason)"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>

    <div class="col-xl-1" *ngIf="j > 1">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #bc0000; font-size: 17px;"
        (click)="deleteWithdrawnReason(withdrawnReason)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>


    <div class="col-xl-1" *ngIf="j > 2">
      <i style="cursor: pointer; opacity: .8;
               color: #bc0000; font-size: 17px;" class="far fa-trash-alt"></i> &nbsp;
    </div>

  </div>

  <hr *ngIf="j !== withdrawnReasons.length - 1">
  <br *ngIf="j === withdrawnReasons.length - 1">

</div>




<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewWithdrawnReason()"
            mat-stroked-button color="primary" style="outline: 0;">
      <i class="fas fa-plus-circle"></i> Add Reason
    </button>
  </div>
</div>
