
<div class="row">
  <div class="col-xl-12">
    <h4>Disqualify Reasons</h4>
  </div>
</div>

<br>

<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">Define your default reasons for rejecting Candidates. You can add reasons for Rejections as well as Withdrawals.
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12 text-xl-left" id="d">
    <button mat-raised-button color="primary" style="outline: 0;">
      Create New Reason
    </button>
  </div>
</div>
