<br>
<div class="row">

  <div class="col-xl-2">
    <div class="row">


      <div
        class="col-xl-4">
        <button
          routerLink="/interviews"
          matTooltip="Go back"
          matTooltipPosition="above"
          style="outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="far fa-arrow-alt-circle-left"></i></button>
      </div>

      <div class="col-xl-4">
        <button
          (click)="previousInterview()"
          matTooltip="Previous interview"
          matTooltipPosition="above"
          style="background-color: transparent; outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="fas fa-angle-double-left"></i></button>
      </div>

      <div class="col-xl-4">
        <button
          (click)="nextInterview()"
          matTooltip="Next interview"
          matTooltipPosition="above"
          style="background-color: transparent; outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="fas fa-angle-double-right"></i></button>
      </div>

    </div>
  </div>

  <div class="col-xl-2" >

    <mat-form-field>

      <mat-select
        (selectionChange)="selectValueChanged($event.value)"
        [(value)]= "pending"
        style="
            text-align: center;
            font-weight: bold;">

        <mat-option
          style="
              text-align: center;
              font-weight: bold;"
          *ngFor="let interviewAction of interviewActions"   [value]="interviewAction.Id">
          {{ interviewAction.Name }}
        </mat-option>

      </mat-select>

    </mat-form-field>

  </div>

  <div class="offset-xl-6 col-xl-2 text-xl-right">
    <button
      [disabled]="disableEmailInvites"
      style="
      outline: 0;"
      color="primary"
      mat-raised-button>  <i class="far fa-envelope"></i> Email Invites</button>
  </div>

</div>
<hr style="margin-top: 0;">


