::ng-deep.mat-button-toggle-label-content{
  line-height: 30px!important;
}
::ng-deep.mat-button-toggle-checked{
  background-color: indigo!important;
  color: white!important;

}

::ng-deep.mat-button-toggle-button{
  outline: 0!important;
}
