<div *ngFor="let workflow of workflows; let i = index">

  <div class="row">
    <div class="col-xl-10">
      <span
        style="cursor: pointer; outline: 0;"
        routerLink="/settings/workflows/{{ workflow.Id }}">

        {{ workflow.Name }}

      </span>
    </div>


    <div class="col-xl-1" *ngIf="workflow.Name !== 'Default'">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #345188; font-size: 17px;"
        (click)="editWorkflowName(workflow)"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>

    <div class="col-xl-1" *ngIf="workflow.Name !== 'Default'">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #bc0000; font-size: 17px;"
        (click)="deleteWorkflow(workflow.Id, i)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>

  </div>

  <hr *ngIf="i !== workflows.length - 1">
  <br *ngIf="i === workflows.length - 1">

</div>
