<br>
<br>

<div class="row">
  <div class="col-xl-8">
    <h6>COMPANY INFO</h6>
    <hr>
  </div>
</div>




<form [formGroup]="editCompanyForm"
      (ngSubmit)="editCompany()"
      #form="ngForm">

  <div class="row">

    <div class="col-xl-8">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Company Name</mat-label>
        <input
          formControlName="companyName"
          required
          matInput>
        <mat-error>You must enter a name!</mat-error>
      </mat-form-field>
    </div>

  </div>



  <div class="row">

    <div class="col-xl-5">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Company Email</mat-label>
        <input
          formControlName="companyEmail"
          required
          matInput>
        <mat-error *ngIf="editCompanyForm.controls['companyEmail'].invalid">
          {{getEmailErrorMessage('companyEmail')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-3">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Company Phone</mat-label>
        <input
          formControlName="companyPhoneNumber"
          required
          matInput>
        <mat-error>You must enter a phone number!</mat-error>
      </mat-form-field>
    </div>

  </div>


  <div class="row">

    <div class="col-xl-8">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Address</mat-label>
        <textarea
          formControlName="companyAddress"
          matInput>
      </textarea>
      </mat-form-field>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-xl-8">
      <h6>OWNER INFO</h6>
      <hr>
    </div>
  </div>



  <div class="row">

    <div class="col-xl-3">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>User Name</mat-label>
        <input
          required
          formControlName="adminUserName"
          matInput>
        <mat-error>You must enter an user name!</mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-5">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input
          formControlName="adminFullName"
          matInput>
      </mat-form-field>
    </div>

  </div>



  <div class="row">

    <div class="col-xl-5">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Owner Email</mat-label>
        <input
          formControlName="adminEmail"
          required
          matInput>
        <mat-error *ngIf="editCompanyForm.controls['adminEmail'].invalid">
          {{getEmailErrorMessage('adminEmail')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-3">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          formControlName="adminPhoneNumber"
          required
          matInput>
        <mat-error>You must enter a phone number!</mat-error>
      </mat-form-field>
    </div>

  </div>


  <div class="row">
    <div class="col-xl-8">
      <hr>
    </div>
  </div>

  <div class="row">


    <div class="col-xl-12">
      <button
        type="submit"
        [disabled]="form.invalid || isDisabled"
        style="outline: 0;"
        color="primary"
        mat-flat-button>Save</button>
      <button
        type="button"
        style="outline: 0;"
        routerLink="/settings/manage-companies"
        mat-stroked-button>Cancel</button>

    </div>


  </div>



</form>
