@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-info.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-default.css";
@import "~angular-notifier/styles/types/type-warning.css";
@import "~angular-notifier/styles/types/type-error.css";
@import '~css-star-rating/css/star-rating.css';


.custom-dialog-container .mat-dialog-container {
  padding-bottom: 0 !important;
}

.rating {
  outline: 0!important;
  justify-content: left!important;
}
.disable-icon {
  pointer-events: none;
  opacity: .5;
}
.enable-icon {
  cursor: pointer;
}

.criteria.rating {
  outline: 0!important;
  justify-content: left!important;
}


body {
  overflow-x: hidden;
}

.notifier__notification--default {
  background-color: black;
  display: inline-flex;
}

.notifier__notification--material .notifier__notification-button{
 padding: 0 0 0 0!important;
}

.job-assign.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 2px 2px 9px 3px!important;
}

.interview-type.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5px 2px 11px 9px!important;
}

.select-candidates.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5px 2px 12px 2px!important;
}

.job-assign.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 0 0 0;
}


.job-assign .mat-form-field-wrapper {
  padding-bottom: 0;
}

