<!--<div class="row" >


  <div class="col-xl-6" style="text-align: center; padding-top: 20px;">
    <h5>Your Companies</h5>
  </div>

  <div class="col-xl-3" style="text-align: right; padding-top: 20px;">
    <button style="outline: 0;"
            mat-stroked-button
            (click)="createNewCompany()"
            >New Company</button>
  </div>

</div>

<div class="row">

  <div class="col-xl-4 list-group-item"
       style="text-align: center; cursor: pointer; outline: 0;"
       title="View details"
       *ngFor="let company of companies"
       routerLink="/company/{{ company.id }}/department"
  >
    {{ company.name }}
  </div>

</div>-->






<mat-form-field style="padding: 30px 0px;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter companies">
</mat-form-field>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let company">  {{ company.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td
        matTooltip="View details"
        matTooltipPosition ="left"
        mat-cell *matCellDef="let company"> {{ company.name }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let company"> {{ company.address }}  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      routerLink="/company/{{ company.id }}/department"
      style="outline: 0; cursor: pointer;"
      mat-row *matRowDef="let company;
      columns: displayedColumns;"
    ></tr>

  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>




