



<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">
    Add or update tags that your organization uses to classify your contacts. You can use these tags to categorize your contacts into various lists.Configure departments in your organization to organize job openings.
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button (click)="addNewTagDialog()" mat-raised-button color="primary" style="outline: 0;">
      Add New Tag
    </button>
  </div>
</div>


