

<div class="row">
  <div class="col-xl-12"
       style="
       font-weight: bold;
       font-size: 200px;
       text-align: center;">
    403
  </div>
</div>

<div class="row">
  <div class="col-xl-12"
       style="
       font-weight: bold;
       font-size: 35px;
       text-align: center;">
    <h2>Forbidden</h2>
  </div>
</div>

<div class="row">
  <div class="col-xl-12"
       style="
       padding-top: 5px;
       font-weight: bold;
       text-align: center;">
    You have no permission to view this page.
  </div>
</div>


<div class="row">
  <div class="col-xl-12"
       style="
       font-weight: bold;
       padding-top: 20px;
       text-align: center;">
    <button
      style="outline: 0;"
      routerLink="/dashboard"
      mat-raised-button color="primary">Homepage</button>
  </div>
</div>
