



<div style="
       opacity: 0;
       padding-left: 0;
       padding-right: 0;"
     #spinnerElement>
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>







  <div class="row container-fluid"
       *ngIf="router.url !== '/sign-in' && router.url !== '/forgot-password'">

    <div class="col-xl-12">
      <app-header></app-header>
    </div>

  </div>

  <div class="row container-fluid"
       style="height: 87vh!important;
       padding-left: 20px;
       padding-right: 20px;
       overflow-x: hidden;
       overflow-y: scroll;
       box-sizing: border-box;">
    <div class="col-xl-12">
      <router-outlet></router-outlet>
    </div>
  </div>







<notifier-container></notifier-container>


