<div class="row" >



  <div class="col-xl-6" style="text-align: center; padding-top: 20px;">
    <h5>Departments of {{ company.name }}</h5>
  </div>

  <div class="col-xl-3" style="text-align: right; padding-top: 20px;">
    <button style="outline: 0;" mat-stroked-button>New Department</button>
  </div>

</div>


<div class="row">
  <div class="col-xl-4 list-group-item"
       *ngFor="let department of departments"
       style="cursor: pointer; text-align: center; outline: 0;"
       title="View details"
       routerLink="/company/{{ department.companyId }}/department/{{ department.id}}/job"
  >
    {{ department.name }}

  </div>
</div>
