



<div class="row" style="font-size: 14px;  color: #656c8a">
  <div class="col-xl-12">Add or update different Job types your organization hires. The default job types are already created to get you started.
  </div>
</div>


<br>

<div class="row">
  <div class="col-xl-12 text-xl-left">
    <button  (click)="addNewJobType()" mat-raised-button color="primary" style="outline: 0;">
      Create New Type
    </button>
  </div>
</div>


<br>
<br>

<div  *ngFor="let jobType of jobTypes; let i = index">

  <div class="row">
    <div class="col-xl-10">
      {{ jobType.Name }}
    </div>

    <div class="col-xl-1">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #345188; font-size: 17px;"
        (click)="editJobType(jobType)"
        mat-stroked-button>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>

    <div class="col-xl-1" *ngIf="i > 2">
      <button
        [disabled]="isDisabled"
        style="border: none;
        cursor: pointer;
        outline: 0;
        opacity: .8; color: #bc0000; font-size: 17px;"
        (click)="deleteJobType(jobType.Id, i)"
        mat-stroked-button>
        <i class="far fa-trash-alt"></i>
      </button>

    </div>


  </div>

  <hr *ngIf="i !== jobTypes.length - 1">
  <br *ngIf="i === jobTypes.length - 1">

</div>
