<div class="row">
  <div class="col-xl-12">

    <h2 mat-dialog-title>Add Candidates</h2>
    <hr>

  </div>
</div>



<div class="row">

  <div class="col-xl-3 col-3" style="padding-top: 14px;">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedValue" (change)="onValueChange(group.value)">
      <mat-button-toggle value="all"> All </mat-button-toggle>
      <mat-button-toggle value="active"> Active </mat-button-toggle>
      <mat-button-toggle value="closed"> Closed </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="col-xl-9 col-9">

    <div class="row">
      <div class="col-xl-1 col-1" style="padding-top: 23px;">

        <mat-checkbox (change)="$event ? masterToggle() : null"
                      color="primary"
                      matTooltip="Select all"
                      matTooltipPosition="left"
                      style="margin-top: 18px;"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>

      </div>

      <div class="col-xl-11 col-11">

        <mat-form-field
          style="width: 100%;">
          <input
            matInput
            [(ngModel)]="term"
            placeholder="Search candidates">
        </mat-form-field>

      </div>

    </div>

    <mat-dialog-content class="mat-typography">
    <div class="row" *ngFor="let candidate of candidates | searchCandidate:term">
      <div class="col-xl-12">

        <div class="row">
          <div class="col-xl-1">

            <div class="row">
              <div class="col-xl-12"
                   style="padding-top: 25px;"
              >
                <mat-checkbox (click)="$event.stopPropagation()"
                              color="primary"
                              (change)="$event ? selection.toggle(candidate) : null"
                              [checked]="selection.isSelected(candidate)">
                </mat-checkbox>
              </div>
            </div>

          </div>

          <div
            class="col-xl-1"
            style="
                  padding-top: 5px;
                  padding-bottom: 5px;">
            <img
              class="img-responsive"
              style="
                    border-radius: 50%;height: 60px; width: 60px"
              [src]="candidateDefaultImage">
          </div>

          <div class="col-xl-5">
            <div class="row">

              <div class="col-xl-12" style="padding-top: 10px;">
                <strong>{{ candidate.FirstName }} {{ candidate.LastName }}</strong>
              </div>

            </div>
            <div class="row">
              <div
                style="font-size: 12px;"
                class="col-xl-12">

                <strong><i class="fab fa-osi"></i> {{ getSourceName(candidate) }}</strong>

              </div>
            </div>


          </div>

        </div>


      </div>
    </div>
    </mat-dialog-content>


  </div>
</div>


<div class="row">
  <div class="col-xl-12 col-sm-12 col-md-12 col-12">

    <mat-dialog-actions align="end">
      <button
        mat-flat-button
        [disabled]="!selection.selected.length"
        color="primary"
        style="outline: 0;"
        [mat-dialog-close]="selection.selected" >Add Candidates</button>
      <button
        mat-stroked-button
        style="outline: 0;"
        mat-dialog-close>Cancel</button>
    </mat-dialog-actions>


  </div>
</div>
