<div class="row">

  <div class="col-xl-8" style=" font-size: 17px; font-weight: bold; padding-top: 3px">

      <i class="fas fa-flag-checkered"></i> {{ currentStageName }}

  </div>

  <div class="col-xl-4 text-xl-center">
    <h4>Change Status</h4>
  </div>

</div>

  <div
    *ngIf="currentStageId !== 7 &&
     currentStageId !== 8 &&
     currentStageId !== 9; else notHiredOrDisqualifed"
    class="row" style="padding-top: 0; padding-bottom: 10px;">
    <div class="col-xl-3">

        <star-rating
          style="cursor: pointer;"
          size="medium"
          staticColor="123"
          [rating]="getStageScore(currentStageId)"
          [starType]="'svg'"
          [hoverEnabled]="true"
          (ratingChange)="stageScoreChanged($event, currentStageId)"
        ></star-rating>
    </div>

    <div class="col-xl-8" style="margin-left: -45px;">
      <i
        (click)="resetCriteriaMark()"
        class="far fa-times-circle"></i>
    </div>
  </div>

<ng-template #notHiredOrDisqualifed>

  <div style="padding-top: 5px; padding-bottom: 5px;">


  </div>

</ng-template>




<mat-tab-group

  disableRipple="true"
  [selectedIndex]="data.selectTab"
  (selectedIndexChange)="tabChange($event)">


    <mat-tab
      *ngFor="let pipelineStage of pipelineStages;">
      <ng-template mat-tab-label >
        <input
          readonly
          style="outline: 0;
                border: 1px solid white;
                border-radius: 3px;
                cursor: pointer; height: 25px; width: 25px;"
          [style.background]="pipelineStage.Color"/> &nbsp;
        {{ pipelineStage.Name }}
      </ng-template>

      <ng-template matTabContent>

        <div
          *ngIf="pipelineStage.PipelineStageCriteria.length !== 0; else criteriaExist"
          style="height: 30vh;
         overflow-y: scroll;
         padding-top: 20px;
         overflow-x: hidden;">

          <div class="row"
               style="font-size: 15px;
                 padding-bottom: 6px;
                 padding-right: 10px;
                 padding-top: 6px;
                 border-bottom: 1px solid #f2f2f2"
               *ngFor="let criteria of pipelineStage.PipelineStageCriteria">
            <div class="col-xl-8" style="padding-left: 25px;">

              &bull; &nbsp; {{ criteria.Name }}

            </div>

            <div class="col-xl-3 text-xl-right" style="padding-left: 60px;">

              <star-rating
                style="cursor: pointer;"
                size="medium"
                staticColor="123"
                [starType]="'svg'"
                [hoverEnabled]="true"
                [rating]="getCriteriaScore(criteria.Id)"
                (ratingChange)="criteriaScoreChanged($event, criteria.Id)"
              ></star-rating>

            </div>

            <div class="col-xl-1">

              <i
                (click)="resetCriteriaMark()"
                class="far fa-times-circle"></i>

            </div>

          </div>

        </div>

        <ng-template #criteriaExist>

          <div class="row" style="
          text-align: center;
          font-weight: bold;
          font-size: 14px;
          opacity: .6;
          height: 30vh;">
            <div class="col-xl-12" style="padding-top: 20px;">
              No stage criteria is available here.

            </div>
          </div>


        </ng-template>

        <div class="row" style="padding-top: 30px;">
          <div class="offset-xl-1 col-xl-10">

            <form>
              <mat-form-field appearance="outline" style="width: 100%">
                <textarea matInput placeholder="Internal comment"></textarea>
              </mat-form-field>
            </form>

          </div>
        </div>


      </ng-template>




    </mat-tab>
</mat-tab-group>

<div>
  <mat-dialog-actions align="end">
    <button
      mat-flat-button
      disabled
      color="primary"
      style="outline: 0;"
    >OK</button>
    <button
      mat-stroked-button
      style="outline: 0;"
      mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
