<div class="row">
  <div class="col-xl-6">

    <div class="row">



    <div class="col-xl-3 text-xl-center" *ngIf="job.IsFavourite">
      <button
        (click)="unfavouriteJobs(job)"
        style="background-color: transparent; outline: 0; width: 100%;"
        mat-flat-button><i
        style="color: #FFD61D;" class="fas fa-heart"></i>
        Unfavourite</button>
    </div>

    <div class="col-xl-3 text-xl-center" *ngIf="!job.IsFavourite">
      <button
        (click)="favouriteJobs(job)"
        style="background-color: transparent; outline: 0; width: 100%"
        mat-flat-button><i class="far fa-heart"></i>
        Favourite</button>
    </div>

    <div *ngIf="!job.IsArchived" class="col-xl-3 text-xl-center">
      <button
        routerLink="/jobs/{{ job.Id }}/edit-job"
        [disabled]="isDisabled"
        style="background-color: transparent; outline: 0; width: 100%"
        mat-flat-button><i class="far fa-edit"></i> Edit</button>
    </div>

    <div *ngIf="!job.IsArchived" class="col-xl-3 text-xl-center">
      <button
        [disabled]="isDisabled"
        (click)="archiveJobs(job)"
        style="background-color: transparent; outline: 0; width: 100%"
        mat-flat-button><i class="fas fa-archive"></i> Archive</button>
    </div>

    <div *ngIf="job.IsArchived" class="col-xl-3 text-xl-center">
      <button
        [disabled]="isDisabled"
        (click)="restoreJobs(job)"
        style="background-color: transparent; outline: 0; width: 100%"
        mat-flat-button><i class="far fa-window-restore"></i> Restore</button>
    </div>

    <div class="col-xl-3 text-xl-center">
      <button
        (click)="deleteJob()"
       [disabled]="isDisabled"
        style="background-color: transparent; outline: 0; width: 100%"
        mat-flat-button><i class="far fa-trash-alt"></i> Delete</button>
    </div>

    </div>
  </div>


</div>
<hr>

<div class="row">
  <div class="col-xl-5">

    <div *ngIf="job.Code !== ''"
         class="row"
         style="padding-top: 3px;
         font-size: 14px;
         padding-bottom: 3px;">
      <div class="col-xl-12">
        <i class="fas fa-paperclip"></i> &nbsp;{{ job.Code }}
      </div>
    </div>

    <div class="row"
         style="padding-top: 3px;
         font-size: 15px;
         padding-bottom: 3px;">
      <div class="col-xl-12">
        <i class="far fa-building"></i> &nbsp;{{ job.Department.Name }}
      </div>
    </div>

    <div class="row"
         style="padding-top: 3px;
         font-size: 15px;
         padding-bottom: 3px;">
      <div class="col-xl-12">
        <i class="fas fa-map-marker-alt"></i> &nbsp;{{ job.Location }}
      </div>
    </div>

    <div class="row"
         style="padding-top: 3px;
         font-size: 15px;
         padding-bottom: 3px;">
      <div class="col-xl-12">
        <i class="fas fa-calendar-alt"></i> &nbsp;Created On {{ getCreatedDate() }}
      </div>
    </div>

    <div *ngIf="job.  ClosingDate !== ''">

      <div class="row"
           *ngIf="getClosingDays() > 0"
           style="padding-top: 3px;
         font-size: 15px;
         padding-bottom: 3px;">
        <div class="col-xl-12">
          <i class="fas fa-calendar-alt"></i> &nbsp;Closing On {{ getClosingDate() }}
        </div>
      </div>

      <div class="row"
           *ngIf="getClosingDays() === 0"
           style="padding-top: 3px;
         font-size: 15px;
         padding-bottom: 3px;">
        <div class="col-xl-12">
          <i class="fas fa-calendar-alt"></i> &nbsp;Closing On {{ getClosingDate() }}
        </div>
      </div>

      <div class="row"
           *ngIf="getClosingDays() < 0"
           style="padding-top: 3px;
         font-size: 15px;
         padding-bottom: 3px;">
        <div class="col-xl-12">
          <i class="fas fa-calendar-alt"></i> &nbsp;Closed On {{ getClosingDate() }}
        </div>
      </div>


    </div>

    <hr>

    <div class="row" *ngIf="job.JobFunction !== null">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Function : </strong>
        <span style="font-size: 14px;">{{ job.JobFunction.Name }}</span>
      </div>
    </div>

    <div class="row" *ngIf="job.JobType !== null">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Type : </strong>
        <span style="font-size: 14px;">{{ job.JobType.Name }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Positions : </strong>
        <span style="font-size: 14px;">{{ job.Positions }}</span>
      </div>
    </div>

    <div *ngIf="job.ExperienceStarts !== null && job.ExperienceEnds !== null">

      <div class="row" *ngIf="job.ExperienceStarts < job.ExperienceEnds">
        <div class="col-xl-12">
          <strong style="font-size: 13px;">Experience : </strong>
          <span style="font-size: 14px;">{{ job.ExperienceStarts }} -
            {{ job.ExperienceEnds }} years</span>
        </div>
      </div>

      <div class="row" *ngIf="job.ExperienceStarts === job.ExperienceEnds">
        <div class="col-xl-12">
          <strong style="font-size: 13px;">Experience : </strong>
          <span style="font-size: 14px;">{{ job.ExperienceEnds }} years</span>
        </div>
      </div>

      <div class="row" *ngIf="job.ExperienceStarts > job.ExperienceEnds">
        <div class="col-xl-12">
          <strong style="font-size: 13px;">Experience : </strong>
          <span style="font-size: 14px;">{{ job.ExperienceEnds }} -
            {{ job.ExperienceStarts }} years</span>
        </div>
      </div>

    </div>

    <div *ngIf="job.ExperienceStarts !== null && job.ExperienceEnds === null">

      <div class="row">
        <div class="col-xl-12">
          <strong style="font-size: 13px;">Experience : </strong>
          <span style="font-size: 14px;">{{ job.ExperienceStarts }} years</span>
        </div>
      </div>

      </div>

    <div *ngIf="job.ExperienceStarts === null && job.ExperienceEnds !== null">

      <div class="row">
        <div class="col-xl-12">
          <strong style="font-size: 13px;">Experience : </strong>
          <span style="font-size: 14px;">{{ job.ExperienceEnds }} years</span>
        </div>
      </div>

    </div>








<div *ngIf="job.SalaryStarts !== null && job.SalaryEnds !== null">

  <div *ngIf="job.SalaryStarts !== null && job.SalaryEnds !== null">

    <div class="row" *ngIf="job.SalaryStarts < job.SalaryEnds">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Salary : </strong>
        <span style="font-size: 14px;">BDT {{ job.SalaryStarts }} -
          {{ job.SalaryEnds }}</span>
      </div>
    </div>

    <div class="row" *ngIf="job.SalaryStarts === job.SalaryEnds">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Salary : </strong>
        <span style="font-size: 14px;">BDT {{ job.SalaryEnds }}</span>
      </div>
    </div>

    <div class="row" *ngIf="job.SalaryStarts > job.SalaryEnds">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Salary : </strong>
        <span style="font-size: 14px;">BDT {{ job.SalaryEnds }} -
          {{ job.SalaryStarts }}</span>
      </div>
    </div>

  </div>

  <div *ngIf="job.SalaryStarts !== null && job.SalaryEnds === null">

    <div class="row">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Salary : </strong>
        <span style="font-size: 14px;">BDT {{ job.SalaryStarts }}</span>
      </div>
    </div>

  </div>

  <div *ngIf="job.SalaryStarts === null && job.SalaryEnds !== null">

    <div class="row">
      <div class="col-xl-12">
        <strong style="font-size: 13px;">Salary : </strong>
        <span style="font-size: 14px;">BDT {{ job.SalaryEnds }}</span>
      </div>
    </div>

  </div>

</div>


    <br>

    <div class="row">

      <div class="col-xl-6" style="padding-top: 7px;">
        <h6>ATTACHMENTS</h6>
      </div>

      <div class="col-xl-6 text-xl-right" >
        <button
          style="outline: 0;"
          type="button"
          matTooltip="Add attachments"
          (click)="getFile()"
          mat-flat-button><i class="fas fa-plus-circle"></i> Add</button>
      </div>

      <input id="choseFile"
             (change)="addNewJobAttachment($event)"
             hidden
             type="file"/>

    </div>
    <hr>

    <div class="row" *ngIf="
    job.JobAttachments !== null;
    else noAttachments">
      <div class="col-xl-12" *ngFor="let jobAttachment of job.JobAttachments; let i = index">

        <div class="row">
          <div class="col-xl-10" style="
          font-size: 14px;
          font-weight: bold;
          padding-top: 6px;
          padding-bottom: 6px;">

            <i class="far fa-file"></i> {{ jobAttachment.FileName }}


          </div>

          <div class="col-xl-2" style="padding-top: 5px;">

            <div class="row">


              <div class="col-xl-6">
                <i
                  matRipple
                  [matRippleUnbounded]="true"
                  [ngClass]="[!isDisabled ? 'enable-icon' : 'disable-icon']"
                  (click)="downloadJobAttachment(jobAttachment)"
                  style="cursor: pointer;"
                  title="Download" class="fas fa-download"></i>
              </div>




              <div class="col-xl-6">
                <i
                  matRipple
                  [matRippleUnbounded]="true"
                  [ngClass]="[!isDisabled ? 'enable-icon' : 'disable-icon']"
                  style="cursor: pointer;"
                  (click)="deleteJobAttachment(jobAttachment, i)"
                  title="Delete" class="far fa-trash-alt"></i>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>


    <ng-template #noAttachments>
      <div class="row">
        <div class="col-xl-12" style="
        opacity: .7;
        font-size: 14px;">
          No Attachments
        </div>
      </div>
    </ng-template>
    <br>


    <div class="row">
      <div class="col-xl-12">
        <h6>HIRING MANAGER</h6>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xl-12"
           style=" text-align: left; padding-top: 3px; font-size: 20px;">
            Sanjid Haque
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-xl-12">

        <h6>CANDIDATE PIPELINE</h6>

      </div>
    </div>
    <br>

    <div
      style="
        border: 1px solid #ebebeb;
        padding: 15px;
        border-radius: 5px;">

      <div class="row"
           style="
             text-align: center;
             padding-bottom: 5px;
             padding-top: 5px;">
        <div class="col-xl-12">

          <h6>{{ job.Workflow.Name }}</h6>

        </div>
      </div>

      <div class="row"
           style="padding-top: 5px; padding-bottom: 5px;"
           *ngFor="let pipeline of job.Workflow.Pipelines">
        <div class="col-xl-12">

          <span style="font-size: 17px">

            <i class="fas fa-flag-checkered"></i> {{ pipeline.Name }}

          </span>

          <div class="row"
               style="padding-left: 30px; padding-top: 5px; padding-bottom: 5px;"
               *ngFor="let pipelineStage of pipeline.PipelineStages">

            <div class="col-xl-1">
              <input
                readonly
                style="outline: 0;
                border: 1px solid white;
                border-radius: 3px;
                cursor: pointer;
                height: 15px; width: 15px;"
                [style.background]="pipelineStage.Color"/>
            </div>

            <div class="col-xl-11" style="padding-left: 0px;">

              <span style="font-size: 16px;">

                {{ pipelineStage.Name }}

                <i
                  *ngIf="pipeline.Name !== 'HIRED' && pipeline.Name !== 'REJECTED'"
                  (click)="addNewPipelineStageCriterion(pipelineStage)"
                  matTooltip="Add new criterion"
                  matTooltipPosition="right"
                  style="cursor: pointer; font-size: 13px;"
                  class="fas fa-plus-circle"></i>

              </span>

              <div class="row"
                   style="padding-left: 30px; padding-top: 5px; padding-bottom: 5px;"
                   *ngFor="let pipelineStageCriterion of pipelineStage.PipelineStageCriteria; let i = index">
                <div class="col-xl-12">

                  <span style="font-size: 14px;">

                     <i class="far fa-check-circle"></i>
                    {{ pipelineStageCriterion.Name }} &nbsp;

                    <i
                      (click)="editPipelineStageCriterion(pipelineStageCriterion)"
                      *ngIf="pipelineStageCriterion.JobId !== null"
                      style="
                      cursor: pointer;
                      opacity: .8;
                      color: #345188;
                      font-size: 14px;"
                      class="fas fa-pencil-alt"></i>&nbsp;

                    <i
                      (click)="deletePipelineStageCriterion(pipelineStage, pipelineStageCriterion.Id, i)"
                      *ngIf="pipelineStageCriterion.JobId !== null"
                      style="cursor: pointer;
                      opacity: .8;
                      color: #bc0000;
                      font-size: 14px;"
                      class="far fa-trash-alt"></i>

                  </span>



                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>




  </div>

  <div class="col-xl-7">

    <div class="row">
      <div class="col-xl-12">
        <h6>DESCRIPTION</h6>
      </div>
    </div>
    <hr>

    <div class="row" *ngIf="job.Description !== ''; else noDescription">
      <div class="col-xl-12" id="job-description">
        {{ getJobDescription() }}
      </div>
    </div>

    <ng-template #noDescription>
      <div class="row" style="
        opacity: .7;
        font-size: 14px;">
        <div class="col-xl-12">
          No description is available.
        </div>
      </div>
    </ng-template>
    <br>

    <div class="row">
      <div class="col-xl-12">
        <h6>REQUIRED SKILLS</h6>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xl-12">
        <h6>IMMEDIATE</h6>
      </div>
    </div>
    <hr>

    <div class="row" *ngIf="job.ImmediateSkills !== ''; else noImmediateSkills">
      <div class="col-xl-12" id="job-immediate">
        {{ getImmediateSkill() }}
      </div>
    </div>

    <ng-template #noImmediateSkills>
      <div class="row" style="
        opacity: .7;
        font-size: 14px;">
        <div class="col-xl-12">
          No immediate requirements.
        </div>
      </div>
    </ng-template>
    <br>

    <div class="row">
      <div class="col-xl-12">
        <h6>INTERMEDIATE</h6>
      </div>
    </div>
    <hr>

    <div class="row" *ngIf="job.IntermediateSkills !== ''; else noIntermediateSkills">
      <div class="col-xl-12" id="job-intermediate">
        {{ getIntermediateSkill() }}
      </div>
    </div>

    <ng-template #noIntermediateSkills>
      <div class="row" style="
        opacity: .7;
        font-size: 14px;">
        <div class="col-xl-12">
          No intermediate requirements.
        </div>
      </div>
    </ng-template>
    <br>

    <div class="row">
      <div class="col-xl-12">
        <h6>GOOD TO HAVE</h6>
      </div>
    </div>
    <hr>

    <div class="row" *ngIf="job.GoodToHaveSkills !== ''; else noGoodToHaveSkills">
      <div class="col-xl-12" id="job-good-to-have">
        {{ getGoodToHaveSkill() }}
      </div>
    </div>

    <ng-template #noGoodToHaveSkills>
      <div class="row" style="
        opacity: .7;
        font-size: 14px;">
        <div class="col-xl-12">

          No good to have requirements.

        </div>
      </div>
    </ng-template>
    <br>

  </div>
</div>
<br>
