<div class="row" style="padding-top: 30px;">
  <div class="offset-xl-4 col-xl-4">


    <div class="row">
      <div class="col-xl-12"
           style="text-align: center;
       font-family: 'Poiret One',sans-serif;
       font-size: 70px;
       cursor: pointer;
       outline: 0;">

        FitFinder

      </div>
    </div>


    <div class="row" style="; text-align: center">
      <div class="col-xl-12">

        <h5 style="font-weight: 400;">Email has confirmed!
          <a routerLink="/sign-in">Sign In here</a>
        </h5>


      </div>
    </div>


  </div>
</div>




