<br>
<mat-card>

<div class="row">

  <div class="col-xl-2">
    <button style="width: 100%; height: 80%;" mat-raised-button color="primary">New Job</button>
  </div>

  <div class="col-xl-2">
    <button  style="width: 100%; height: 80%;" mat-raised-button color="primary">New Candidate</button>
  </div>

  <div class="col-xl-2">
    <button  style="width: 100%; height: 80%;" mat-raised-button color="primary">New Interview</button>
  </div>

  <div class="col-xl-2">
    <button  style="width: 100%; height: 80%;" mat-raised-button color="primary">Settings</button>
  </div>

  <div class="offset-xl-2 col-xl-1">
    <mat-form-field>

    <mat-select
      [(value)]= "allDepartments"
      style="text-align: center;
      font-weight: bold;">

      <mat-option
        style="text-align: center;
        font-weight: bold;"
        *ngFor="let state of states" [value]="state">{{state}}
      </mat-option>

    </mat-select>

    </mat-form-field>
  </div>

</div>

</mat-card>
<br><br>


