<div class="row" style="padding-top: 30px;">
  <div class="offset-xl-4 col-xl-4">


    <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
      <div class="row">
        <div class="col-xl-12"
             style="text-align: center;
       font-family: 'Poiret One',sans-serif;
       font-size: 70px;
       cursor: pointer;
       outline: 0;">

          FitFinder

        </div>
      </div>


      <div class="row" style="; text-align: center;">
        <div class="col-xl-12">
          <h3 style="font-weight: 400">Sign In to your Account
          </h3>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-xl-12">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>
              User Name
            </mat-label>
            <input
              name="userName"
              required
              ngModel
              matInput
              type="text">
            <mat-error>You must your user name!</mat-error>
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col-xl-12">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required
              matInput
              ngModel
              name="password"
              [type]="hide ? 'password' : 'text'">
            <mat-error>You must enter your password!</mat-error>
            <mat-icon
              style="cursor: pointer;"
              matSuffix
              (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xl-12">

          <button
            [disabled]="isDisabled"
            style="width: 100%;
          font-size: 17px;
          padding-top: 5px;
          padding-bottom: 5px;
          outline: 0;"
            mat-flat-button color="primary">Sign In</button>

        </div>
      </div>

      <br>

      <div class="row">
        <div
          style="text-align: center;"
          class="col-xl-12">

          <a routerLink="/forgot-password">Forgot Password ?</a>

        </div>
      </div>
    </form>



  </div>
</div>




