<br>
<div class="row">

  <div class="col-xl-2">
    <div class="row">


      <div
        class="col-xl-4">
        <button
          routerLink="/interviews"
          matTooltip="Interview Panel"
          matTooltipPosition="above"
          style="outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="far fa-arrow-alt-circle-left"></i></button>
      </div>

      <div class="col-xl-4">
        <button
          (click)="previousInterview()"
          matTooltip="Previous Interview"
          matTooltipPosition="above"
          style="background-color: transparent; outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="fas fa-angle-double-left"></i></button>
      </div>

      <div class="col-xl-4">
        <button
          (click)="nextInterview()"
          matTooltip="Next Interview"
          matTooltipPosition="above"
          style="background-color: transparent; outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="fas fa-angle-double-right"></i></button>
      </div>

    </div>
  </div>



  <div class="col-xl-8" *ngIf="!interview.IsArchived; else showArchivedMessage"></div>

  <ng-template #showArchivedMessage>
    <div class="col-xl-8" style="
       font-weight: bold;
       opacity: .7;
       text-align: center;">
      Archived
    </div>
  </ng-template>



  <div
    *ngIf="!interview.IsArchived; else interviewIsArchived"
    class="col-xl-2 text-xl-right">
    <button
      [disabled]="disableEmailInvites"
      style="
      outline: 0;"
      color="primary"
      mat-raised-button>  <i class="far fa-envelope"></i> Email Invites</button>
  </div>

  <ng-template #interviewIsArchived>

    <div class="col-xl-2 text-xl-right">
      <button
        style="
        outline: 0;"
        mat-stroked-button><i class="far fa-window-restore"></i> Restore</button>
    </div>


  </ng-template>

</div>
<hr>


<div class="row">


  <div class="col-xl-1"
         style="text-align: center;
                border: 2px solid whitesmoke;
                outline: 0;
                cursor: pointer;
                border-radius: 2px;">

      <div class="row">
        <div class="col-xl-12"
             style="font-weight: bold;
             font-size: 30px; text-align: center;">

          {{ getInterviewDay(interview) }}

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12"
             style="
             font-size: 13px;
             font-weight: bold; text-align: center;">

          {{ getInterviewMonth(interview) | uppercase}}

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12"
             style="font-size: 11px;
                    background-color: #1a237e;
                    color: white;
                    font-weight: bold; text-align: center;">

          {{ getInterviewYear(interview) }}

        </div>
      </div>

    </div>

  <div class="col-xl-9" style="font-size: 35px;">
    {{ interview.InterviewStartTime }} - {{ interview.InterviewName }} ({{ getInterviewTypeName(interview) }})
  </div>


    <div class="col-xl-2">

      <mat-form-field>

      <mat-select
        [disabled]="interview.IsArchived"
        (selectionChange)="selectValueChanged($event.value)"
        [(value)]= "pending"
        style="
            text-align: center;
            font-weight: bold;">

        <mat-option
          style="
              text-align: center;
              font-weight: bold;"
          *ngFor="let interviewStatus of interviewStatuses"   [value]="interviewStatus.Id">
          {{ interviewStatus.Name }}
        </mat-option>

      </mat-select>

    </mat-form-field>
  </div>

</div>
<hr>

<div class="row">


  <div *ngIf="!interview.IsArchived" class="col-xl-1 text-xl-center">
    <button
      style="background-color: transparent; outline: 0; width: 100%;"
      mat-flat-button><i class="far fa-edit"></i> Edit</button>
  </div>

  <div *ngIf="!interview.IsArchived" class="col-xl-1 text-xl-center">
    <button
      style="background-color: transparent; outline: 0; width: 100%;"
      mat-flat-button><i class="fas fa-archive"></i> Archive</button>
  </div>

  <div *ngIf="interview.IsArchived" class="col-xl-1 text-xl-center">
    <button
      style="background-color: transparent; outline: 0; width: 100%;"
      mat-flat-button><i class="far fa-window-restore"></i> Restore</button>
  </div>

  <div class="col-xl-1 text-xl-center">
    <button
      style="background-color: transparent; outline: 0; width: 100%;"
      mat-flat-button><i class="far fa-trash-alt"></i> Delete</button>
  </div>

</div>
<hr>

<div class="row">

  <div class="col-xl-5">

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 17px;">
      <div class="col-xl-12">
        <i class="far fa-clock"></i>
        {{ interview.InterviewStartTime }} - {{ interview.InterviewEndTime }}
      </div>
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 15px;">
      <div class="col-xl-12">
        <i class="fas fa-ribbon"></i> {{ getInterviewTypeName(interview) }} Interview
      </div>
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 15px;">
      <div class="col-xl-12">
        <i class="far fa-user"></i> Sanjid Haque
      </div>
    </div>

    <div *ngIf="interview.InterviewLocation !== ''">
      <br>
      <div class="row">
        <div class="col-xl-12">
          <h6>VENUE</h6>
        </div>
      </div>
      <hr>
      <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 15px;">
        <div class="col-xl-12">
          <i class="fas fa-map-marker-alt"></i> {{ interview.InterviewLocation }}
        </div>
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-xl-12 text-xl-left">
        <h6>INTERVIEWERS</h6>
      </div>
    </div>
    <hr>

    <div
      class="row"
      style="padding-top: 5px; padding-bottom: 5px;"
      *ngFor="let interviewersForInterview of interview.InterviewersForInterview">
      <div class="col-xl-1">
        <img
          class="img-responsive"
          style="
                    outline: 0;
                    cursor: pointer;
                    border-radius: 50%;height: 40px; width: 40px"
          [src]="candidateDefaultImage">
      </div>

      <div class="col-xl-11 text-xl-left" style="padding-top: 6px;">
       {{ getInterviewerName(interviewersForInterview.InterviewerId) }} |
        <span style="font-size: 13px;">{{ getInterviewerRole(interviewersForInterview.InterviewerId) }}</span>
      </div>
    </div>


  </div>

  <div class="col-xl-7">


    <div class="row"
         *ngIf="interview.CandidatesForInterview.length === 0; else candidateIsSelected">
      <div class="col-xl-12">
        <br>

        <div style="
        opacity: .8; font-size: 50px; text-align: center;">
          <i  class="fas fa-box-open"></i>
        </div>



        <div style="text-align: center;">
          <h5>No Candidate Available</h5>
        </div>


        <div style="text-align: center;">
          <button
            [disabled]="interview.IsArchived"
            type="button"
            (click)="openSelectCandidatesDialog()"
            mat-flat-button style="outline: 0; background-color: transparent;">
            <i class="fas fa-plus-circle"></i> Add Candidates</button>
        </div>
        <br>
      </div>
    </div>

    <ng-template #candidateIsSelected>
      <div class="row">



        <div class="offset-xl-7 col-xl-4 text-xl-right" *ngIf="interview.CandidatesForInterview.length !== 0">

          <button
            [disabled]="interview.IsArchived || candidateService.candidates.length === 0"
            type="button"
            (click)="openSelectCandidatesDialog()"
            mat-flat-button style="outline: 0; background-color: transparent;">
            <i class="fas fa-plus-circle"></i> Add Candidates</button>

        </div>

      </div>


      <div class="row">
        <div class="offset-xl-1 col-xl-10"
             style="padding-top: 10px;
               margin-top: 10px;
               border-radius: 8px;
               border: 1px solid #1a237e; padding-bottom: 10px;"
             *ngFor="let candidatesForInterview of interview.CandidatesForInterview;
             let i = index">

          <div class="row">
            <div class="col-xl-12" style="
               padding-top: 10px; padding-bottom: 10px;
               ">

              <div class="row">
                <div class="col-xl-2" style="text-align: center;">

                  <img
                    class="img-responsive"
                    style="
                      border-radius: 50%;height: 60px; width: 60px"
                    [src]="candidateDefaultImage">

                </div>

                <div class="col-xl-9">

                  <div class="row">
                    <div class="col-xl-12 text-xl-left"
                         style="padding-top: 6px;">
                      <a title="More Detail"
                         style="cursor: pointer; outline: 0; text-decoration: none;"
                         routerLink="/candidates/{{candidatesForInterview.CandidateId}}"
                      >
                      <strong>
                        {{ getCandidateFullName(candidatesForInterview.CandidateId) }}
                      </strong>
                      </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-3 text-xl-left"
                         style="padding-top: 5px;">

                      <star-rating
                        [rating] = "4"
                        [readOnly]="true"
                        [starType]="'svg'"
                      ></star-rating>

                    </div>


                    <div
                      class="col-xl-9">

                      <!--Stage criteria name is here-->
                    </div>
                  </div>

                </div>

                <div class="col-xl-1" *ngIf="!interview.IsArchived">

                  <i (click)="removeCandidate(i)"
                     style="cursor: pointer;"
                     matTooltip="Remove" class="fas fa-times"></i>

                </div>

              </div>

            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-xl-6 text-xl-center">
              <button
                [disabled]="
                getJobTitle(candidatesForInterview.CandidateId) === '' ||
                interview.IsArchived"
                mat-flat-button
                style="outline: 0;
                background-color: transparent;">
                <i class="far fa-comment-alt"></i> Comment</button>
            </div>
            <div class="col-xl-6 text-xl-center">
              <button
                [disabled]="
                getJobTitle(candidatesForInterview.CandidateId) === '' ||
                interview.IsArchived"
                mat-flat-button
                style="outline: 0;
                background-color: transparent;">
                <i class="fas fa-sign-in-alt"></i> Status</button>
            </div>
          </div>
          <hr>

          <div class="row" *ngIf="getJobTitle(candidatesForInterview.CandidateId) !== ''">

            <div class="col-xl-12"
                 style="
                   color: #4d94e5;
                   font-size: 16px;
                   padding-top: 5px;
                   padding-bottom: 7px;">

              <i title="Job Application" class="fas fa-briefcase"></i>
              <span style="
                    color: #4d94e5;">
                {{ getJobTitle(candidatesForInterview.CandidateId) }}</span>

            </div>
          </div>




          <div class="row">
            <div style="font-size: 14px;" class="col-xl-10">
              <strong> <i title="Source/Candidate Application Date" class="fab fa-osi"></i>
                {{ getCandidateSource(candidatesForInterview.CandidateId) }}
              </strong> on {{ getApplicationDate(candidatesForInterview.CandidateId) }}
            </div>

            <div *ngIf="facebookUrlExist(candidatesForInterview.CandidateId)"
                 class="col-xl-1 text-xl-right" style="font-size: 22px;">
              <i style="cursor: pointer;"
                 (click)="goToFacebookProfile(candidatesForInterview.CandidateId)"
                 class="fab fa-facebook-square"></i>
            </div>

            <div *ngIf="linkedInUrlExist(candidatesForInterview.CandidateId)"
                 class="col-xl-1 text-xl-left" style="font-size: 22px;">
              <i
                style="cursor: pointer;"
                (click)="goToLinkedInProfile(candidatesForInterview.CandidateId)"
                class="fab fa-linkedin"></i>
            </div>
          </div>
          <hr>



          <div class="row">

            <div class="col-xl-12"
                 style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

              <i title="Email" class="far fa-envelope"></i> {{ getCandidateEmail(candidatesForInterview.CandidateId) }}

            </div>

          </div>


          <div class="row">
            <div class="col-xl-12" style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

              <i  title="Phone" class="fas fa-phone"></i> {{ getCandidatePhone(candidatesForInterview.CandidateId) }}

            </div>
          </div>

          <div class="row">

            <div class="col-xl-12"
                 style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

              <i  title="Address" class="fas fa-map-marker-alt"></i>
             {{ getCandidateFullAddress(candidatesForInterview.CandidateId) }}

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xl-12"
                 style="font-size: 13px; opacity: .9; font-weight: bold;">
              ATTACHMENTS
            </div>
          </div>
          <hr>

          <div class="row"
               *ngIf="getCandidateAttachment(candidatesForInterview.CandidateId).length !== 0;
               else noAttachments">
            <div class="col-xl-12">

              <div class="row"
                   *ngFor="
                   let candidateAttachment
                   of getCandidateAttachment(candidatesForInterview.CandidateId)">
                <div class="col-xl-12" style="
          font-size: 12px;
          font-weight: bold;
          padding-top: 6px;
          padding-bottom: 6px;">

                  <i class="far fa-file"></i>
                  <span
                    style="cursor: pointer;"
                    title="Download File"
                    (click)="downloadFile(candidateAttachment.ModifiedFileName)"
                  > {{ candidateAttachment.FileName }}</span>
                  <span
                    style="
              color: #000;
              opacity: .6;
              font-size: 10px;"
                    *ngIf="candidateAttachment.IsResume"> (Resume)</span>

                </div>


              </div>

            </div>
          </div>

          <ng-template #noAttachments>
            <div class="row">
              <div class="col-xl-12 text-xl-left" style="opacity: .7; font-size: 11px;">
                No Attachments
              </div>
            </div>
          </ng-template>









        </div>
      </div>

    </ng-template>
  </div>

</div>


