<br>
<div class="row">

  <div class="col-xl-2">
    <div class="row">


      <div
        class="col-xl-4">
        <button
          routerLink="/interviews"
          style="outline: 0;"
          mat-raised-button color="primary"><i
          class="far fa-arrow-alt-circle-left"></i> Interview Panel</button>
      </div>


    </div>
  </div>



  <div class="col-xl-8" *ngIf="!interview.IsArchived; else showArchivedMessage"></div>

  <ng-template #showArchivedMessage>
    <div class="col-xl-8" style="
       font-weight: bold;
       opacity: .7;
       text-align: center;">
      Archived
    </div>
  </ng-template>


  <ng-template #interviewIsArchived>

    <div class="col-xl-2 text-xl-right">
      <button
        [disabled]="isDisabled"
        (click)="restoreInterview(interview)"
        style="
        outline: 0;"
        mat-stroked-button><i class="far fa-window-restore"></i> Restore</button>
    </div>


  </ng-template>

</div>
<hr>


<div class="row">


  <div class="col-xl-1"
         style="text-align: center;
                border: 2px solid whitesmoke;
                outline: 0;
                cursor: pointer;
                border-radius: 2px;">

      <div class="row">
        <div class="col-xl-12"
             style="font-weight: bold;
             font-size: 30px; text-align: center;">

          {{ getInterviewDay(interview) }}

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12"
             style="
             font-size: 13px;
             font-weight: bold; text-align: center;">

          {{ getInterviewMonth(interview) | uppercase}}

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12"
             style="font-size: 11px;
                    background-color: #1a237e;
                    color: white;
                    font-weight: bold; text-align: center;">

          {{ getInterviewYear(interview) }}

        </div>
      </div>

    </div>

  <div class="col-xl-9" style="font-size: 35px;">
    {{ interview.StartTime }} - {{ interview.Name }} ({{ interview.InterviewType }})
  </div>


</div>
<hr>

<div class="row">

  <div class="col-xl-6">
    <div class="row">

      <div *ngIf="!interview.IsArchived" class="col-xl-3 text-xl-center">
        <button
          routerLink="/interviews/{{ interview.Id }}/edit-interview"
          style="background-color: transparent; outline: 0; width: 100%;"
          mat-flat-button><i class="far fa-edit"></i> Edit</button>
      </div>

      <div *ngIf="!interview.IsArchived" class="col-xl-3 text-xl-center">
        <button
          [disabled]="isDisabled"
          (click)="archiveInterview(interview)"
          style="background-color: transparent; outline: 0; width: 100%;"
          mat-flat-button><i class="fas fa-archive"></i> Archive</button>
      </div>

      <div *ngIf="interview.IsArchived" class="col-xl-3 text-xl-center">
        <button
          [disabled]="isDisabled"
          (click)="restoreInterview()"
          style="background-color: transparent; outline: 0; width: 100%;"
          mat-flat-button><i class="far fa-window-restore"></i> Restore</button>
      </div>

      <div class="col-xl-3 text-xl-center">
        <button
          [disabled]="isDisabled"
          (click)="deleteInterview()"
          style="background-color: transparent; outline: 0; width: 100%;"
          mat-flat-button><i class="far fa-trash-alt"></i> Delete</button>
      </div>


    </div>
  </div>

</div>

<hr>

<div class="row">

  <div class="col-xl-5">

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 17px;">
      <div class="col-xl-12">
        <i class="far fa-clock"></i>
        {{ interview.StartTime }} - {{ interview.EndTime }}
      </div>
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 17px;">
      <div class="col-xl-12">
        <i class="fas fa-briefcase"></i>  {{ interview.Job.Title }}
      </div>
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 15px;">
      <div class="col-xl-12">
        <i class="fas fa-ribbon"></i> {{ interview.InterviewType }} Interview
      </div>
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 15px;">
      <div class="col-xl-12">
        <i class="far fa-user"></i> {{ interview.HiringManagerName }}
      </div>
    </div>

    <div *ngIf="interview.Location !== ''">
      <br>
      <div class="row">
        <div class="col-xl-12">
          <h6>VENUE</h6>
        </div>
      </div>
      <hr>
      <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 15px;">
        <div class="col-xl-12">
          <i class="fas fa-map-marker-alt"></i> {{ interview.Location }}
        </div>
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-xl-12 text-xl-left">
        <h6>INTERVIEWERS</h6>
      </div>
    </div>
    <hr>


    <form [formGroup]="assignInterviewerForm"
          (ngSubmit)="assignInterviewerToInterview()"
           #form="ngForm">

    <div class="row">
      <div class="col-xl-10">

        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Select Interviewers</mat-label>
          <mat-select
            required
            formControlName="userAccounts">
            <mat-option
              *ngFor="let userAccount of userAccounts"
              [value]="userAccount">
              {{ userAccount.UserName }} |
              <span
                style="font-size: 13px; opacity: 7;">
                  {{ userAccount.RoleName }}
                </span>
            </mat-option>
          </mat-select>
          <mat-error>You must select at least one interviewer!</mat-error>
        </mat-form-field>

      </div>

      <div class="col-xl-2" style="padding-top: 5px;">

        <button
          [disabled]="form.invalid"
          color="primary"
          type="submit"
          style="outline: 0; font-size: 12px;"
          mat-fab>Assign</button>

      </div>

    </div>

    </form>




    <div
      style="padding-top: 5px; padding-bottom: 5px;"
      *ngFor="let interviewerForInterview of interview.InterviewersForInterview; let k = index">

      <div
        style="padding-top: 3px; padding-bottom: 3px;"
        class="row" *ngIf="interviewerForInterview.UserAccount !== null">
        <div class="col-xl-12">

          {{ interviewerForInterview.UserAccount.UserName }} |
            <span style="font-size: 13px;">
              {{ interviewerForInterview.UserAccount.RoleName }}
            </span>

          <button
            *ngIf="interview.InterviewersForInterview.length > 1"
            [disabled]="isDisabled"
            (click)="removeInterviewerFromInterview(k,interviewerForInterview.Id)"
            style="cursor: pointer; outline: 0;"
            mat-flat-button>
            <i matTooltip="Remove" class="fas fa-times"></i>
          </button>

        </div>
      </div>

    </div>


  </div>

  <div class="col-xl-7">


    <div class="row"
         *ngIf="interview.CandidatesForInterview === null; else candidateIsSelected">
      <div class="col-xl-12">
        <br>

        <div style="
        opacity: .8; font-size: 50px; text-align: center;">
          <i  class="fas fa-box-open"></i>
        </div>



        <div style="text-align: center;">
          <h5>No Candidate Available</h5>
        </div>


        <div style="text-align: center;">
          <button
            [disabled]="interview.IsArchived"
            type="button"
            (click)="openSelectCandidatesDialog()"
            mat-flat-button style="outline: 0; background-color: transparent;">
            <i class="fas fa-plus-circle"></i> Add Candidates</button>
        </div>
        <br>
      </div>
    </div>

    <ng-template #candidateIsSelected>
      <!--<div class="row">-->

        <!--<div class="offset-xl-7 col-xl-4 text-xl-right"-->
             <!--*ngIf="interview.CandidatesForInterview !== null">-->

          <!--<button-->
            <!--[disabled]="interview.IsArchived || candidates.length === 0"-->
            <!--type="button"-->
            <!--(click)="openSelectCandidatesDialog()"-->
            <!--mat-flat-button style="outline: 0; background-color: transparent;">-->
            <!--<i class="fas fa-plus-circle"></i> Add Candidates</button>-->

        <!--</div>-->

      <!--</div>-->


      <div class="row">
        <div class="offset-xl-1 col-xl-10"
             style="padding-top: 10px;
               margin-top: 10px;
               border-radius: 8px;
               border: 1px solid #1a237e; padding-bottom: 10px;"
             *ngFor="let candidateForInterview of interview.CandidatesForInterview;
             let i = index">

          <div>

            <div class="row">
            <div class="col-xl-12" style="padding-top: 10px; padding-bottom: 10px;">

              <div class="row">
                <div class="col-xl-2" style="text-align: center;">

                  <img
                    class="img-responsive"
                    style="
                      border-radius: 50%;height: 60px; width: 60px"
                    [src]="imageFolderPath + candidateForInterview.Candidate.ImageName">

                </div>

                <div class="col-xl-8">

                  <div class="row">
                    <div class="col-xl-12 text-xl-left"
                         style="padding-top: 6px;">
                      <a title="More Detail"
                         style="cursor: pointer; outline: 0; text-decoration: none;"
                         routerLink="/candidates/{{ candidateForInterview.CandidateId }}"
                      >
                        <strong>
                          {{candidateForInterview.Candidate.FirstName }}
                          {{candidateForInterview.Candidate.LastName }}
                        </strong>
                      </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-12 text-xl-left"
                         style="padding-top: 5px;">

                      <input readonly
                             style="outline: 0;
                       border: 1px solid transparent;
                       border-radius: 2px;
                       height: 14px;
                       width: 14px;"
                             [style.background]="getPipelineStageProperty(candidateForInterview.Candidate, 'Color')"/>

                      <span style="font-size: 14px; font-weight: 500;">
                        {{ getPipelineStageProperty(candidateForInterview.Candidate, 'Name') }}
                      </span>

                    </div>

                  </div>

                </div>

                <!--<div class="col-xl-1" *ngIf="!interview.IsArchived">-->

                  <!--<button-->
                    <!--[disabled]="isDisabled"-->
                    <!--matTooltip="Remove"-->
                    <!--(click)="removeCandidatesFromInterview(i, candidateForInterview.Id)"-->
                    <!--style="outline: 0;"-->
                    <!--mat-flat-button>-->
                    <!--<i class="fas fa-times"></i>-->
                  <!--</button>-->

                <!--</div>-->

              </div>

            </div>
          </div>

            <hr>

            <div class="row">
              <div class="col-xl-4 text-xl-center">
                <button
                  [disabled]="interview.IsArchived"
                  mat-flat-button
                  style="outline: 0;
                background-color: transparent;">
                  <i class="far fa-comment-alt"></i> Comment</button>
              </div>
              <div class="col-xl-4 text-xl-center">
                <button
                  [disabled]="interview.IsArchived"
                  mat-flat-button
                  style="outline: 0;
                background-color: transparent;">
                  <i class="fas fa-sign-in-alt"></i> Status</button>
              </div>

              <div class="col-xl-4" style="font-size: 13px;">

                <mat-form-field class="interview-type">

                  <mat-select
                    [disabled]="interview.IsArchived"
                    (selectionChange)="changeInterviewStatus($event.value, candidateForInterview)"
                    [(value)]="candidateForInterview.InterviewStatus"
                    style="
            text-align: center;
            font-weight: bold;">

                    <mat-option
                      style="
              text-align: center;
              font-weight: bold;"
                      *ngFor="let interviewStatus of interviewStatuses"
                      [value]="interviewStatus.Name">
                      {{ interviewStatus.Name }}
                    </mat-option>

                  </mat-select>

                </mat-form-field>
              </div>

            </div>
            <hr>



            <div class="row">
              <div style="font-size: 14px;" class="col-xl-8">
                <strong> <i title="Source/Candidate Application Date" class="fab fa-osi"></i>
                  {{ candidateForInterview.Candidate.Source.Name }}
                </strong> on {{ getApplicationDate(candidateForInterview.Candidate) }}
              </div>

              <div class="col-xl-4 text-xl-right" style="font-size: 22px;">

       <span *ngIf="candidateForInterview.Candidate.FacebookUrl !== ''">
        <i style="cursor: pointer; color: #3b5998;"
           (click)="goToFacebookProfile(candidateForInterview.Candidate)"
           class="fab fa-facebook-square"></i> &nbsp;
       </span>

                <span *ngIf="candidateForInterview.Candidate.LinkedInUrl !== ''" >
          <i style="cursor: pointer; color: #0e76a8;"
             (click)="goToLinkedInProfile(candidateForInterview.Candidate)"
             class="fab fa-linkedin"></i> &nbsp;
        </span>

                <i *ngIf="candidateForInterview.Candidate.GitHubUrl !== ''"
                   style="cursor: pointer; color: black;"
                   (click)="goToGithubProfile(candidateForInterview.Candidate)"
                   class="fab fa-github"></i>

              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-xl-12"
                   style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

                <i title="Email" class="far fa-envelope"></i>
                {{ candidateForInterview.Candidate.Email }}

              </div>
            </div>


            <div class="row">
              <div class="col-xl-12" style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

                <i  title="Phone" class="fas fa-phone"></i>
                {{ candidateForInterview.Candidate.Mobile }}

              </div>
            </div>

            <div class="row">

              <div class="col-xl-12"
                   style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

                <i  title="Address" class="fas fa-map-marker-alt"></i>
                {{ candidateForInterview.Candidate.Address }}
                {{ candidateForInterview.Candidate.City }}
                {{ candidateForInterview.Candidate.State }}
                {{ candidateForInterview.Candidate.Country }}

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xl-12"
                   style="font-size: 13px; opacity: .9; font-weight: bold;">
                ATTACHMENTS
              </div>
            </div>
            <hr>

            <div class="row"
                 *ngIf="candidateForInterview.Candidate.CandidateAttachments !== null;
               else noAttachments">
              <div class="col-xl-12">

                <div class="row"
                     *ngFor="
                   let candidateAttachment
                   of candidateForInterview.Candidate.CandidateAttachments">
                  <div class="col-xl-12" style="
          font-size: 12px;
          font-weight: bold;
          padding-top: 6px;
          padding-bottom: 6px;">

                    <i class="far fa-file"></i>
                    <span
                      style="cursor: pointer;"
                      title="Download File"
                      (click)="downloadFile(candidateAttachment.ModifiedFileName)"
                    > {{ candidateAttachment.FileName }}</span>
                    <span
                      style="
              color: #000;
              opacity: .6;
              font-size: 10px;"
                      *ngIf="candidateAttachment.IsResume"> (Resume)</span>

                  </div>


                </div>

              </div>
            </div>

            <ng-template #noAttachments>
              <div class="row">
                <div class="col-xl-12 text-xl-left" style="opacity: .7; font-size: 11px;">
                  No Attachments
                </div>
              </div>
            </ng-template>

          </div>



        </div>
      </div>

    </ng-template>
  </div>

</div>


