<br>
<form
  [formGroup]="addNewInterviewForm"
  (ngSubmit)="onSubmitNewInterview()"
  #form="ngForm">
<div class="row">

  <div class="col-xl-10">
    <h3>New Interview</h3>
  </div>

  <div class="col-xl-1 pr-xl-1">
    <button
      type="submit"
      [disabled]="!form.valid || isDisabled"
      style="width: 100%;
      outline: 0;"
      color="primary"
      mat-flat-button>Save</button>
  </div>

  <div class="col-xl-1 pl-xl-1">
    <button
      type="button"
      style="width:
      100%;outline: 0;"
      routerLink="/interviews"
      mat-stroked-button>Cancel</button>
  </div>

</div>
<hr>

  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xl-6">

      <div class="row">
        <div class="col-xl-12">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input
              formControlName = "interviewDate"
              matInput
              [matDatepicker]="picker"
              required
              readonly
              (click)="picker.open()"
            >
            <mat-error>You must enter a date!</mat-error>
            <mat-datepicker-toggle
              matTooltip = "Click Me!"
              matTooltipPosition = "right"
              matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker
              #picker
            ></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Interview Name</mat-label>
            <input
              formControlName="interviewName"
              required
              matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <h6>Interviewers</h6>
        </div>
      </div>
      <hr>


      <div class="row">
        <div class="col-xl-12">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Select Interviewers</mat-label>
            <mat-select
              required
              formControlName="interviewers"
              multiple>
              <mat-option

                *ngFor="let user of users" [value]="user">
                <img
                  style="border-radius: 50%;height: 30px; width: 30px"
                  [src]= "candidateDefaultImage"> {{ user.userName }} |
                <span style="font-size: 13px; opacity: 7;">{{ user.role }}</span>
              </mat-option>
            </mat-select>
            <mat-error>You must select at least one interviewer!</mat-error>
          </mat-form-field>

        </div>
      </div>



      <div class="row">
        <div class="col-xl-12">
          <h6>Location</h6>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-12">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Address</mat-label>
            <input
              formControlName="interviewLocation"
              matInput>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="col-xl-6">

      <div class="row">

        <div class="col-xl-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Start Time</mat-label>
          <input
            matInput
            required
            formControlName="interviewStartTime"
            type="time"
            atp-time-picker
            theme="material-purple" />
          </mat-form-field>
        </div>



        <div class="col-xl-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>End Time</mat-label>
          <input
            matInput
            formControlName="interviewEndTime"
            required
            type="time"
            atp-time-picker
            theme="material-purple" />
          </mat-form-field>
        </div>


      </div>

      <div class="row">

        <div class="col-xl-12">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Select Interview Type</mat-label>
            <mat-select
              required
              formControlName="interviewTypeId">
              <mat-option
                *ngIf="interviewTypes.length == 0">No interview type is available</mat-option>
              <mat-option
                *ngFor="let interviewType of interviewTypes"
                [value]="interviewType.id"> {{ interviewType.type }} </mat-option>
            </mat-select>
            <mat-error>You must select an interview type!</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <div class="col-xl-6">
          <h6>Candidates</h6>
        </div>

        <div class="col-xl-6 text-xl-right" *ngIf="candidates.length !== 0">

          <button
            type="button"
            (click)="openSelectCandidatesDialog()"
            mat-flat-button style="outline: 0 ;">
            <i class="fas fa-plus-circle"></i> Select Candidates</button>

        </div>

      </div>
      <hr>

      <div class="row" *ngIf="candidates.length == 0; else candidateIsSelected">
        <div class="offset-xl-1 col-xl-10">
          <br>

          <div style="opacity: .8; font-size: 40px; text-align: center;">
            <i  class="fas fa-box-open"></i>
          </div>



          <div style="text-align: center;">
            <h6>No Candidate Selected</h6>
          </div>


          <div style="text-align: center;">
            <button
              [disabled]="candidates.length === 0"
              type="button"
              (click)="openSelectCandidatesDialog()"
              mat-flat-button style="outline: 0 ;">
              <i class="fas fa-plus-circle"></i> Select Candidates</button>
          </div>
          <br>
        </div>
      </div>

      <ng-template #candidateIsSelected>

        <div class="row">
          <div class="offset-xl-1 col-xl-10"
               style="padding-top: 10px;
               margin-top: 10px;
               border-radius: 8px;
               border: 1px solid #1a237e; padding-bottom: 10px;"
               *ngFor="let candidate of candidates; let i = index">

            <div class="row">
              <div class="col-xl-12" style="
               padding-top: 10px; padding-bottom: 10px;
               ">

                <div class="row">
                  <div class="col-xl-2" style="text-align: center;">

                    <img
                      class="img-responsive"
                      style="
                      border-radius: 50%;height: 60px; width: 60px"
                      [src]="candidateDefaultImage">

                  </div>

                  <div class="col-xl-9">

                    <div class="row">
                      <div class="col-xl-12 text-xl-left"
                           style="padding-top: 6px;">

                       <strong>{{ candidate.FirstName }} {{ candidate.LastName }}</strong>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-4 text-xl-left"
                           style="padding-top: 5px;">

                        <star-rating
                          [rating] = "2"
                          [readOnly]="true"
                          [starType]="'svg'"
                        ></star-rating>

                      </div>
                    </div>

                  </div>

                  <div class="col-xl-1">

                    <i (click)="removeCandidate(i)" style="cursor: pointer;" matTooltip="Remove" class="fas fa-times"></i>

                  </div>

                </div>

              </div>
            </div>

            <hr>

            <div class="row" *ngIf="candidate.JobAssigned.length !== 0">

              <div class="col-xl-6"
                   style="
                   font-size: 14px;
                   padding-top: 3px;
                   padding-bottom: 3px;">

              <i title="Job Application" class="fas fa-briefcase"></i>
                {{ getJobTitle(candidate.JobAssigned[0]) }}

              </div>

              <div class="col-xl-6">
                <!--criteria name is here-->
              </div>

            </div>


            <div class="row">

              <div class="col-xl-12"
                   style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

                <i title="Email" class="far fa-envelope"></i> {{  candidate.Email}}

              </div>



            </div>

            <div class="row">

              <div class="col-xl-12"
                   style="font-size: 14px; padding-top: 3px; padding-bottom: 3px;">

                <i  title="Address" class="fas fa-map-marker-alt"></i>
                {{ candidate.Address }}, {{ candidate.City }}, {{ candidate.State }}, {{ candidate.Country }}

              </div>
            </div>


          </div>
        </div>

      </ng-template>

    </div>

  </div>




</form>

