
<div class="row">
  <div class="col-xl-12">
    <h4>Job Openings</h4>
  </div>
</div>
<br>

<div class="row">

  <div class="col-xl-2">
    <button
      style="outline: 0;width: 100%;"
      mat-flat-button
      routerLinkActive="active"
      routerLink="types"><strong>TYPES</strong></button>
  </div>

  <div class="col-xl-2">
    <button
      style="outline: 0;width: 100%;"
      mat-flat-button
      routerLinkActive="active"
      routerLink="functions"><strong>FUNCTIONS</strong></button>
  </div>

  <div class="col-xl-3">
    <button
      style="text-align: center; outline: 0;width: 100%;"
      mat-flat-button
      routerLinkActive="active"
      routerLink="departments"><strong>DEPARTMENTS</strong></button>
  </div>

</div>
<br>
<router-outlet></router-outlet>
