
<div class="row">
  <div class="col-xl-12">
    <h4>Candidates & Leads</h4>
  </div>
</div>
<br>

<div class="row">

  <div class="col-xl-2">
    <button
      style="outline: 0;width: 100%;"
      mat-flat-button
      routerLinkActive="active"
      routerLink="sources"><strong>SOURCES</strong></button>
  </div>

  <!--<div class="col-xl-2">
    <button
      style="outline: 0;width: 100%;"
      mat-flat-button
      routerLinkActive="active"
      routerLink="tags"><strong>TAGS</strong></button>
  </div>-->


</div>
<br>
<router-outlet></router-outlet>
