<div class="row">
  <div class="col-xl-10">

    <h4>Add Candidates</h4>

  </div>


    <div class="col-xl-2 text-xl-right">

      <button
        *ngIf="isFilterTouched"
        (click)="resetAllFilter()"
        style=" outline: 0;"
        mat-stroked-button>Reset</button>

    </div>


</div>


<div class="row">

  <div class="col-xl-3 col-3" style="padding-top: 14px;">

    <!--<div class="row">-->
      <!--<div class="col-xl-12">-->

        <!--<mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedValue" (change)="onValueChange(group.value)">-->
          <!--<mat-button-toggle value="All"> All </mat-button-toggle>-->
          <!--<mat-button-toggle value="Active"> Active </mat-button-toggle>-->
          <!--<mat-button-toggle value="Closed"> Closed </mat-button-toggle>-->
        <!--</mat-button-toggle-group>-->

      <!--</div>-->
    <!--</div>-->

    <div class="row" >

      <div class="col-xl-10" style="
       padding-left: 21px;
       text-align: left;
       font-weight: bold;
       font-size: 14px;">
        Only Favourites <mat-slide-toggle
        [checked]="favouriteSelected"
        (change)="filterByFavourite($event)"
        color="primary"></mat-slide-toggle>
      </div>

    </div>

  </div>



  <div class="col-xl-9 col-9">

    <div class="row"
         *ngIf="candidates.length === 0; else candidateExists"
         style="
         opacity: .8;
         height: 75vh">
      <div class="col-xl-12">

          <div style="text-align: center; padding-top: 150px;">
            <i class="fab fa-blackberry fa-5x"></i>
          </div>

          <br>

          <div style="text-align: center;">
            <h4>You do not have any candidate</h4>
          </div>
          <br>

        </div>
      </div>

      <ng-template #candidateExists>


        <div class="row">
          <div class="col-xl-1 col-1"
               style="padding-top: 23px; padding-left: 26px; text-align: center;">

            <mat-checkbox (change)="$event ? masterToggle() : null"
                          color="primary"
                          matTooltip="Select all"
                          matTooltipPosition="left"
                          style="margin-top: 18px;"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>

          </div>

          <div class="col-xl-11 col-11" style="padding-top: 5px;">

            <mat-form-field appearance="outline" class="select-candidates"
                            style="width: 100%;">
              <input
                matInput
                [(ngModel)]="term"
                placeholder="Search Candidates">
            </mat-form-field>

          </div>

        </div>

<div style="height: 62vh; overflow-x: hidden; overflow-y: scroll">

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;"
       *ngFor="let candidate of candidates | searchCandidate:term">

    <div class="col-xl-1">

      <div class="row">
        <div class="col-xl-12"
             style="padding-top: 25px; text-align: center; padding-right: 1px;">

          <mat-checkbox
            (click)="$event.stopPropagation()"
            color="primary"
            (change)="$event ? selection.toggle(candidate) : null"
            [checked]="selection.isSelected(candidate)">
          </mat-checkbox>

        </div>
      </div>

    </div>

    <div
      class="col-xl-1"
      style="padding-top: 5px; padding-bottom: 5px;">
      <img
        class="img-responsive"
        style="
                    outline: 0;
                    cursor: pointer;
                    border-radius: 50%;height: 60px; width: 60px"
        [src]="imageFolderPath + candidate.ImageName">
    </div>

    <div class="col-xl-10" style="padding-left: 27px;">
      <div class="row">

        <div
          class="col-xl-12"
          style="padding-top: 10px;">
          <strong
            style="
                       outline: 0;
                       cursor: pointer;"
          >{{ candidate.FirstName }} {{ candidate.LastName }} </strong>
          <i
            *ngIf="candidate.IsFavourite"
            style="color: #FFD61D; cursor: pointer;" class="fas fa-heart"></i>

          <i style="cursor: pointer;"
             *ngIf="!candidate.IsFavourite"
             class="far fa-heart"></i>
        </div>

      </div>
      <div class="row">
        <div
          style="font-size: 12px;"
          class="col-xl-12">

          <strong
            title="Job Application"
            *ngIf="getJobName(candidate) !== ''"
          ><i class="fas fa-briefcase"></i> {{ getJobName(candidate) }} &nbsp;
          </strong>

          <strong title="Candidate Source">
            <i class="fab fa-osi"></i> {{ candidate.Source.Name }} &nbsp;
          </strong>

          <strong
            title="Candidate Application Date"
          ><i class="far fa-calendar-alt"></i> {{ getApplicationDate(candidate) }}</strong>

        </div>
      </div>


    </div>


  </div>

</div>

      </ng-template>


  </div>
</div>


<div class="row" style="padding-top: 30px; padding-bottom: 20px;">
  <div class="col-xl-12 col-sm-12 col-md-12 col-12">

    <mat-dialog-actions align="end">
      <button
        mat-flat-button
        [disabled]="!selection.selected.length"
        color="primary"
        style="outline: 0;"
        [mat-dialog-close]="selection.selected" >Add Candidates</button>
      <button
        mat-stroked-button
        style="outline: 0;"
        mat-dialog-close>Cancel</button>
    </mat-dialog-actions>


  </div>
</div>
