<div class="row">
  <div class="col-xl-12">

    <h2 mat-dialog-title>Add Candidates</h2>
    <hr>

  </div>
</div>



<div class="row">

  <div class="col-xl-3 col-3" style="padding-top: 14px;">

    <div class="row">
      <div class="col-xl-12">

        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedValue" (change)="onValueChange(group.value)">
          <mat-button-toggle value="all"> All </mat-button-toggle>
          <mat-button-toggle value="active"> Active </mat-button-toggle>
          <mat-button-toggle value="closed"> Closed </mat-button-toggle>
        </mat-button-toggle-group>

      </div>
    </div>

    <div class="row" >

      <div class="col-xl-10" style="
       padding-top: 20px; text-align: left;
       padding-left: 21px;
       font-weight: bold;
       font-size: 14px;">
        Show Archived <mat-slide-toggle
        (change)="archiveStatus($event)"
        color="primary"></mat-slide-toggle>
      </div>

    </div>

    <div class="row" >

      <div class="col-xl-10" style="
      padding-left: 21px;
       padding-top: 20px; text-align: left;
       font-weight: bold;
       font-size: 14px;">
        Favourites Only <mat-slide-toggle
        (change)="favouriteStatus($event)"
        color="primary"></mat-slide-toggle>
      </div>

    </div>

  </div>



  <div class="col-xl-9 col-9">

    <div class="row">
      <div class="col-xl-1 col-1" style="padding-top: 23px;">

        <mat-checkbox (change)="$event ? masterToggle() : null"
                      color="primary"
                      matTooltip="Select all"
                      matTooltipPosition="left"
                      style="margin-top: 18px;"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>

      </div>

      <div class="col-xl-11 col-11" style="padding-top: 5px;">

        <mat-form-field appearance="outline" class="select-candidates"
          style="width: 100%;">
          <input
            matInput
            [(ngModel)]="term"
            placeholder="Search Candidates">
        </mat-form-field>

      </div>

    </div>

    <mat-dialog-content class="mat-typography">

      <div class="row"
           *ngIf="candidates.length == 0; else candidateExists"
           style="margin-top: 10px;
           opacity: .8;
           border: 1px solid #f0f0f0; border-radius: 5px;">
        <div class="col-xl-12">
          <br>
          <br>
          <div style="text-align: center;">
            <i class="fab fa-blackberry fa-5x"></i>
          </div>

          <br>

          <div style="text-align: center;">
            <h4>You do not have any candidate</h4>
          </div>
          <br>

        </div>
      </div>

      <ng-template #candidateExists>
<div style="height: 40vh; overflow-x: hidden; overflow-y: visible;">

  <div class="row"
       *ngFor="let candidate of candidates | searchCandidate:term">

    <div class="col-xl-1">

      <div class="row">
        <div class="col-xl-12"
             style="padding-top: 25px;"
        >
          <mat-checkbox (click)="$event.stopPropagation()"
                        color="primary"
                        (change)="$event ? selection.toggle(candidate) : null"
                        [checked]="selection.isSelected(candidate)">
          </mat-checkbox>
        </div>
      </div>

    </div>

    <div
      class="col-xl-1"
      style="
                  padding-top: 5px;
                  padding-bottom: 5px;">
      <img
        class="img-responsive"
        style="
                    outline: 0;
                    cursor: pointer;
                    border-radius: 50%;height: 60px; width: 60px"
        [src]="candidateDefaultImage">
    </div>

    <div class="col-xl-10">
      <div class="row">

        <div
          class="col-xl-12"
          style="
                      padding-top: 10px;">
          <strong
            style="
                       outline: 0;
                       cursor: pointer;"
          >{{ candidate.FirstName }} {{ candidate.LastName }} </strong>
          <i
            *ngIf="candidate.IsFavourite"
            style="color: #FFD61D; cursor: pointer;" class="fas fa-heart"></i>

          <i style="cursor: pointer;"
             *ngIf="!candidate.IsFavourite"
             class="far fa-heart"></i>
        </div>

      </div>
      <div class="row">
        <div
          style="font-size: 12px;"
          class="col-xl-12">

          <strong
            title="Job Application"
            *ngIf="candidate.JobAssigned.length !== 0"
          ><i class="fab fa-osi"></i> {{ getJobName(candidate) }} &nbsp;
          </strong>

          <strong
            title="Candidate Source"
          ><i class="fab fa-osi"></i> {{ getCandidateSource(candidate) }} &nbsp;
          </strong>

          <strong
            title="Candidate Application Date"
          ><i class="fab fa-osi"></i> {{ getApplicationDate(candidate) }}</strong>

        </div>
      </div>


    </div>


  </div>

</div>


      </ng-template>




    </mat-dialog-content>


  </div>
</div>


<div class="row" style="padding-top: 30px; padding-bottom: 20px;">
  <div class="col-xl-12 col-sm-12 col-md-12 col-12">

    <mat-dialog-actions align="end">
      <button
        mat-flat-button
        [disabled]="!selection.selected.length"
        color="primary"
        style="outline: 0;"
        [mat-dialog-close]="selection.selected" >Add Candidates</button>
      <button
        mat-stroked-button
        style="outline: 0;"
        mat-dialog-close>Cancel</button>
    </mat-dialog-actions>


  </div>
</div>
