
<div class="row" >

  <div class="col-xl-2 col-12 display-4"
       style="text-align: left;
       font-family: 'Poiret One';
       font-size: 50px;
       cursor: pointer;
       outline: 0;"
       routerLink="/dashboard"
  >
    FitFinder
  </div>



<div class="col-xl-10 col-12 nav nav-tabs">
      <a class = "nav-link nav-item"
         *ngFor = "let navigationBarLink of navigationBarLinks"
         [routerLink]="navigationBarLink.path"
         routerLinkActive = "active"
         [matTooltip] = "[navigationBarLink.label]">
        <h3><i [class] = "[navigationBarLink.iconClass]"></i></h3>
      </a>

      <a [matMenuTriggerFor]="menu" (click)="onLogout()"
         style="cursor: pointer;"
         class = "nav-link nav-item"
         matTooltip = Options>
        <h3><i class="fas fa-chevron-circle-down"></i></h3>

        <mat-menu #menu="matMenu">
          <button routerLink="/settings/profile" mat-menu-item>
            <h6><i class="fas fa-anchor"></i> Profile</h6>
          </button>
          <button routerLink="/settings" mat-menu-item>
            <h6><i class="fas fa-cog"></i> Settings</h6>
          </button>
          <button (click)="onLogout()" mat-menu-item>
            <h6><i class="fas fa-power-off"></i> Sign Out</h6>
          </button>
        </mat-menu>

  </a>
</div>


</div>





