
<div class="row">

  <div class="col-xl-2 display-4"
       style="text-align: left;
       font-family: 'Poiret One';
       font-size: 50px;
       cursor: pointer;
       outline: 0;"
       routerLink="/dashboard"
  >
    FitFinder
  </div>

  <div class="col-xl-10" style="padding-top: 13px;">

    <nav mat-tab-nav-bar color="primary">


      <a mat-tab-link
         class  = "navbar-links"
         *ngFor = "let navigationBarLink of navigationBarLinks"
         [routerLink]="navigationBarLink.path"
         routerLinkActive #routerLinkActive = "routerLinkActive"
         [active]="routerLinkActive.isActive">
        {{ navigationBarLink.label}}

      </a>

    </nav>

  </div>

</div>


