a{
  text-decoration: none;
  color: black;
}

a.active.nav-item.nav-link{
  color: indigo;
}

a.nav-item.nav-link:hover{
  color: indigo;
  border-color: transparent;
  background-color: transparent;
}

.mat-menu-content {
   padding-top: 0!important;
   padding-bottom: 0!important;
}


a.active.nav-item.nav-link.ng-star-inserted{
border-color: transparent;
background-color: transparent;
}


.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
