<br>
<br>

<div class="row">
  <div class="col-xl-8">
    <h6>USER INFO</h6>
    <hr>
  </div>
</div>


<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="User name">
    <i class="fas fa-signature"></i> &nbsp; {{ currentUserAccount.UserName }}
      <span style="font-size: 13px;" *ngIf="currentUserAccount.IsOwner">
        <i class="fas fa-shield-alt"></i>
        </span>
    </span>

  </div>
</div>

<div
  *ngIf="currentUserAccount.FullName !== ''"
  class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Full name">
      <i class="fas fa-file-signature"></i> &nbsp; {{ currentUserAccount.FullName }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Email">
       <i class="far fa-envelope"></i> &nbsp; {{ currentUserAccount.Email }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Phone">
    <i class="fas fa-phone"></i> &nbsp; {{ currentUserAccount.PhoneNumber }}
    </span>

  </div>
</div>

<div class="row" style="padding-top: 15px; padding-bottom: 5px;">
  <div class="col-xl-8">

    <span title="Role">
    <i class="far fa-dot-circle"></i> &nbsp; {{ currentUserAccount.RoleName }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Joining date"><i class="far fa-calendar-alt"></i>
      &nbsp; {{ currentUserAccount.JoiningDateTime }}
    </span>

  </div>
</div>


<div class="row"
     style="
     color: #00bfff;
     font-weight: 500;
     padding-top: 30px;">
  <div class="col-xl-8">

    <span
      style="cursor: pointer; outline: 0;"
      (click)="connectToDrive()">
      <img src="https://img.icons8.com/color/28/000000/google-drive.png">
      &nbsp; Connect Google Drive
    </span>

  </div>
</div>



  <br>
  <div class="row">
    <div class="col-xl-8">
      <h6>COMPANY INFO</h6>
      <hr>
    </div>
  </div>


  <div class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Name">
    <i class="fas fa-store-alt"></i> &nbsp; {{ company.CompanyName }}
    </span>

    </div>
  </div>

  <div
    *ngIf="company.CompanyAddress !== ''"
    class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Address">
      <i class="fas fa-map-marked"></i>
      &nbsp; {{ company.CompanyAddress }}
    </span>

    </div>
  </div>

  <div class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Email">
       <i class="far fa-envelope"></i> &nbsp; {{ company.CompanyEmail }}
    </span>

    </div>
  </div>

  <div class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Phone">
    <i class="fas fa-phone"></i> &nbsp; {{ company.CompanyPhoneNumber }}
    </span>

    </div>
  </div>




<br>
<br>


<div class="row">
  <div class="col-xl-8">

    <button
      routerLink="/settings/profile/edit-profile"
      style="outline: 0;"
      mat-stroked-button color="primary">Edit</button> &nbsp;
    <button
      style="outline: 0;"
      routerLink="/settings/profile/change-profile-password"
      mat-stroked-button color="primary">Change Password</button>

  </div>
</div>

<br>
<br>
