<br>
<br>

<div class="row">
  <div class="col-xl-8">
    <h6>USER INFO</h6>
    <hr>
  </div>
</div>


<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="User name">
    <i class="fas fa-signature"></i> &nbsp; {{ currentUserAccount.UserName }}
      <span style="font-size: 13px;" *ngIf="currentUserAccount.IsOwner">
        <i class="fas fa-shield-alt"></i>
        </span>
    </span>

  </div>
</div>

<div
  *ngIf="currentUserAccount.FullName !== ''"
  class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Full name">
      <i class="fas fa-file-signature"></i> &nbsp; {{ currentUserAccount.FullName }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Email">
       <i class="far fa-envelope"></i> &nbsp; {{ currentUserAccount.Email }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Phone">
    <i class="fas fa-phone"></i> &nbsp; {{ currentUserAccount.PhoneNumber }}
    </span>

  </div>
</div>

<div class="row" style="padding-top: 15px; padding-bottom: 5px;">
  <div class="col-xl-8">

    <span title="Role">
    <i class="far fa-dot-circle"></i> &nbsp; {{ currentUserAccount.RoleName }}
    </span>

  </div>
</div>


<div class="row" style="padding-top: 5px; padding-bottom: 5px;">
  <div class="col-xl-8">

    <span title="Department">
    <i class="far fa-building"></i> &nbsp; {{ currentUserAccount.Department.Name }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Joining date"><i class="far fa-calendar-alt"></i>
      &nbsp; {{ currentUserAccount.JoiningDateTime }}
    </span>

  </div>
</div>


<div class="row"
     style="
     padding-top: 30px;">
  <div class="col-xl-8">

    <button
      (click)="connectToGoogleDrive()"
      mat-button
      style="outline: 0; color: #00bfff;">
      <img
        style="height: 25px;"
        [src]="'assets/images/google-drive.png'">
      Connect Google Drive

    </button>

    <button
      *ngIf = "currentGoogleAccountEmail !== ''"
      (click)="disconnectFormGoogleDrive()"
      mat-button style="outline: 0;">

      <i
        style="color: red;"
        class="fas fa-power-off"></i>

      <span style="color: #ec3b3b;"> Disconnect</span>

    </button>

  </div>
</div>

<div class="row"
     style="
     padding-top: 10px;
     padding-left: 20px;
     font-size: 14px;
     opacity: 0.9;
     font-weight: 500;">
  <div class="col-xl-8">

    <span *ngIf="currentGoogleAccountEmail !== ''; else noAccountConnected">

      <i class="fas fa-check-circle"></i>
     Connected as {{ currentGoogleAccountEmail }}

    </span>


    <ng-template #noAccountConnected>

      <span>

        <i class="fas fa-times-circle"></i>
        Not connected to google account

      </span>

    </ng-template>



  </div>
</div>



  <br>
  <div class="row">
    <div class="col-xl-8">
      <h6>COMPANY INFO</h6>
      <hr>
    </div>
  </div>


  <div class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Name">
    <i class="fas fa-store-alt"></i> &nbsp; {{ company.CompanyName }}
    </span>

    </div>
  </div>

  <div
    *ngIf="company.CompanyAddress !== null"
    class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Address">
      <i class="fas fa-map-marked"></i>
      &nbsp; {{ company.CompanyAddress }}
    </span>

    </div>
  </div>

  <div class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Email">
       <i class="far fa-envelope"></i> &nbsp; {{ company.CompanyEmail }}
    </span>

    </div>
  </div>

  <div class="row" style="padding-bottom: 5px;padding-top: 5px;">
    <div class="col-xl-8">

    <span title="Phone">
    <i class="fas fa-phone"></i> &nbsp; {{ company.CompanyPhoneNumber }}
    </span>

    </div>
  </div>




<br>
<br>


<div class="row">
  <div class="col-xl-8">

    <button
      routerLink="/settings/profile/edit-profile"
      style="outline: 0;"
      mat-stroked-button color="primary">Edit</button> &nbsp;
    <button
      style="outline: 0;"
      routerLink="/settings/profile/change-profile-password"
      mat-stroked-button color="primary">Change Password</button>

  </div>
</div>

<br>
<br>
