<div class="row">
  <div class="col-xl-12" style="font-size: 14px;  color: #656c8a;">
    Define your recruitment workflow by creating different stages to match the actual recruitment procedure followed in your organization. <!--You can trigger emails to candidates at different stages, to increase candidate engagement.-->
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12">
    <h4>Candidate Pipeline</h4>
  </div>
</div>

<div class="row" style="margin-top: 5px; font-size: 14px;  color: #656c8a;">
  <div class="col-xl-12">
    Manage and track your candidates through out their recruitment process by moving them across various stages. Create stages according to your requirements and simplify your hiring.
  </div>
</div>

<br>

<div class="row" *ngFor="let pipeline of pipelines">
  <div class="col-xl-12">

    <div class="row">
      <div class="col-xl-12" style="font-weight: bold;">
        <i style="color: rgba(216,213,214,1)" class="fas fa-circle"></i> {{ pipeline.Name }}
      </div>
    </div>

    <div class="row"
         style="padding-top: 10px;
         margin-left: 18px;  padding-bottom: 15px;">


      <div class="col-xl-4"
           style="
           padding: 5px;
           "
           *ngFor="let pipelineStage of pipeline.PipelineStage">
        <div
          style=
            "background-color: #f2f8fd;
             border: 1px solid #ddd;
             padding: 8px;
             border-radius: 3px;">

          <div class="row">
            <div class="col-xl-1">
              <!--<i
                [ngStyle]="{'color': pipelineStage.Color }"
                style="
                font-size: 25px;"
                class="fas fa-square"></i>-->
              <input
                readonly
                style="outline: 0;
                border: 1px solid white;
                border-radius: 3px;
                cursor: pointer; height: 25px; width: 25px;"
                [style.background]="pipelineStage.Color"/>
            </div>
            <div class="col-xl-10" style="padding-top: 3px;">
           <h6> &nbsp; {{ pipelineStage.Name }}</h6>
            </div>
          </div>

          <div class="row" style="padding-top: 30px;">
            <div class="col-xl-2 text-xl-right">
              <i style="cursor: pointer;"
                (click)="pipelineStageCriteria()" class="far fa-flag"></i>
            </div>

            <div class="col-xl-10 text-xl-right">

              <i
                (click)="editPipelineStage(pipelineStage)"
                style="cursor: pointer;
              opacity: .8;
               color: #345188; font-size: 17px;" class="fas fa-pencil-alt"></i>&nbsp;
              <i
                *ngIf="pipeline.PipelineStage.length > 1
                && pipeline.Id !== 7"
                style="cursor: pointer;
              opacity: .8;
               color: #bc0000; font-size: 17px;" class="far fa-trash-alt"></i>
            </div>
          </div>
        </div>




      </div>

      <div class="col-xl-4"
           *ngIf="pipeline.Id === 2 ||
pipeline.Id === 3 ||
 pipeline.Id === 4"
           style="
           padding: 5px;">
        <div
          style=
            "background-color: #f2f8fd;
             border: 1px dashed #7e88e1;
             padding: 8px;
             border-radius: 3px;">

          <div class="row">
            <div class="col-xl-12"
                 style="color: #00a7de;
                 padding-bottom: 31px;
                 padding-top: 31px;
                 font-size: 14px;
                  text-align: center;">
             <span
               (click)="addNewPipelineStage(pipeline.Id)"
               style="cursor: pointer;"> <i class="fas fa-plus-circle"></i> Add</span>
            </div>
          </div>

        </div>
      </div>


      <div class="offset-xl-4 col-xl-4"
           *ngIf="pipeline.Id === 1 ||
pipeline.Id === 6 "
           style="
           padding: 5px;">
        <div
          style=
            "background-color: #f3f5f7;
             border: 1px solid #f3f5f7;
             padding: 14px;
             border-radius: 3px;">

          <div *ngIf="pipeline.Id === 1">
            <div class="row" >
              <div class="col-xl-12">
                <h6>Active stages</h6>
              </div>
            </div>
            <div class="row" >
              <div class="col-xl-12" style="font-size: 14px; opacity: .8;">
                Active stage represent a potential candidate's journey.
              </div>
            </div>
          </div>

          <div *ngIf="pipeline.Id === 6">
            <div class="row" >
              <div class="col-xl-12">
                <h6>Closed stages</h6>
              </div>
            </div>
            <div class="row" >
              <div class="col-xl-12" style="font-size: 14px; opacity: .8;">
                Closed stage represent the result of your candidate journey.
              </div>
            </div>
          </div>



        </div>
      </div>

    </div>


  </div>
</div>
