<form #company = "ngForm">
<h3 style="text-align: center;" mat-dialog-title>Create a new company</h3>

<mat-dialog-content class="mat-typography">

  <div class="example-container">

        <mat-form-field>
          <input
            id="name"
            name="name"
            ngModel
            required
            matInput
            placeholder="Company name">

          <mat-error>This field is required</mat-error>

        </mat-form-field>

        <mat-form-field>
          <input
            id="address"
            name="address"
            ngModel
            required
            matInput
            placeholder="Company location">

          <mat-error>This field is required</mat-error>

        </mat-form-field>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    style="outline: 0;"
    mat-raised-button
    (click) = "close()">Cancel</button>

  <button
    type="submit"
    style="outline: 0;"
    [disabled] = "!company.valid"
    mat-raised-button
    [mat-dialog-close] = "getNewCompanyData(company)">Save</button>

</mat-dialog-actions>
</form>
