• Should be at least eight characters long.
<br>
<br>

<div class="row">
  <div class="col-xl-8">
    <h6>CHANGE YOUR PASSWORD</h6>
    <hr>
  </div>
</div>




<form [formGroup]="changeProfilePasswordForm"
      (ngSubmit)="changeProfilePassword()"
      #form="ngForm">

  <div class="row">

    <div class="col-xl-4">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          formControlName="oldPassword"
          required
          matInput>
       <mat-error>You must enter your old password!</mat-error>
      </mat-form-field>
    </div>

  </div>

  <!--<div class="row"-->
       <!--style="font-size: 12px; opacity: .7;">-->
    <!--<div class="col-xl-4">-->
      <!--&bull; Should be at least six characters long.-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row"-->
       <!--style="font-size: 12px; opacity: .7;">-->
    <!--<div class="col-xl-4">-->
      <!--&bull; Should have at least one upper case letter.-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row"-->
       <!--style="font-size: 12px; opacity: .7;">-->
    <!--<div class="col-xl-4">-->
      <!--&bull; Should have at least one lower case letter.-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row"-->
       <!--style="font-size: 12px; opacity: .7;">-->
    <!--<div class="col-xl-4">-->
      <!--&bull;  Should have at least one digit.-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row"-->
       <!--style="font-size: 12px; opacity: .7;">-->
    <!--<div class="col-xl-4">-->
      <!--&bull; Should have at least one special character.-->
    <!--</div>-->
  <!--</div>-->


  <div class="row" style="padding-top: 20px;">
    <div class="col-xl-4">

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          formControlName="newPassword"
          required
          matInput>
        <mat-error *ngIf="changeProfilePasswordForm.controls['newPassword'].invalid">
          {{getPasswordConditionErrorMessage()}}
        </mat-error>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          formControlName="confirmNewPassword"
          required
          matInput>
        <mat-error>
          {{ getPasswordMatchingErrorMessage() }}
        </mat-error>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <hr>
    </div>
  </div>

  <div class="row">


    <div class="col-xl-12">
      <button
        type="submit"
        [disabled]="form.invalid || isDisabled"
        style="outline: 0;"
        color="primary"
        mat-flat-button>Save</button>

      <button
        type="button"
        style="outline: 0;"
        routerLink="/settings/profile"
        mat-stroked-button>Cancel</button>

    </div>


  </div>



</form>
