<br>

<div class="row">

  <div class="col-xl-10">
    <h3>Interviews</h3>
  </div>

  <div class="col-xl-2">
    <button
      routerLink = "/interviews/add-new-interview"
      style="width: 100%;
      outline: 0;"
      color="primary"
      mat-raised-button><i class="fas fa-plus"></i> New Interview</button>
  </div>

</div>


<div class="row">

  <div class="col-xl-3">

    <div class="row">

      <div class="offset-xl-1 col-xl-10 " style="padding-top: 30px; text-align: left; font-size: 14px;">
        <mat-button-toggle-group

          #group="matButtonToggleGroup"
          [value]="selectedValue" (change)="onValueChange(group.value)">
          <mat-button-toggle value="all"> All </mat-button-toggle>
          <mat-button-toggle value="upcoming"> Upcoming </mat-button-toggle>
          <mat-button-toggle value="past"> Past </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

    <div class="row" >
      <div class="offset-xl-1 col-xl-10" style="
      padding-top: 17px; text-align: left;
      font-weight: bold;
      font-size: 14px;">
        Show Archived <mat-slide-toggle
                                        color="primary"></mat-slide-toggle>
      </div>
    </div>

    <div class="row">
      <div class="offset-xl-1 col-xl-10" style="
      padding-top: 15px;
      font-weight: bold;
      font-size: 14px;">
        Select Interview Type
      </div>
    </div>

    <div class="row">
      <div class="offset-xl-1 col-xl-10" style="text-align: left; font-size: 14px;">

        <mat-form-field appearance="outline" class="interview-type">

          <mat-select
            (selectionChange)="selectValueChanged($event.value)"
            [(value)]= "all"
            style="
            text-align: left;
            font-weight: bold;">
            <mat-option style="
              text-align: left;
              font-weight: bold;" [value]="'All'">
              All
            </mat-option>
            <mat-option
              style="
              text-align: left;
              font-weight: bold;"
              *ngFor="let interviewType of interviewTypes"   [value]="interviewType.id">
              {{ interviewType.type }}
            </mat-option>

          </mat-select>

        </mat-form-field>

      </div>
    </div>



    <div class="row">
      <div class="offset-xl-1 col-xl-10" style="
      font-weight: bold;
      font-size: 14px;">
        Search By Date
      </div>
    </div>





    <div class="row">
      <div class="offset-xl-1 col-xl-10" style="border: 2px solid whitesmoke; border-radius: 5px;">

        <mat-calendar
          [selected]="selectedDate"
          (selectedChange)="selectedDate = $event"
          (selectedChange)="getDate($event)" >
        </mat-calendar>

      </div>
    </div>


  </div>

  <div class="col-xl-8">

    <div class="row">
      <div class="col-xl-1 text-xl-left" style="padding-top: 18px;">

        <mat-checkbox (change)="$event ? masterToggle() : null"
                      color="primary"
                      matTooltip="Select all"
                      matTooltipPosition="left"
                      style="margin-top: 18px;"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>

      </div>
      <div class="col-xl-11" style="padding-left: 0; margin-top: 10px">

        <button
          (click)="archiveInterviews()"
          mat-flat-button
          [disabled]="interviews.length == 0
          ||
          !selection.hasValue()"
          style="background-color: transparent; outline: 0;">
          <i class="fas fa-archive"></i>
          Archive</button>

        <button
          (click)="restoreInterviews()"
          mat-flat-button
          [disabled]="interviews.length == 0
          ||
          !selection.hasValue()"
          style="background-color: transparent; outline: 0;">
          <i class="far fa-window-restore"></i>
          Restore</button>
      </div>
    </div>

    <div class="row"
         *ngIf="interviews.length == 0; else interviewExists"
         style="margin-top: 10px; border: 1px solid #f0f0f0; border-radius: 5px;">
      <div class="col-xl-12">
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
          <i class="fas fa-calendar-alt fa-5x"></i>
        </div>

        <br>

        <div style="text-align: center;">
          <h3>You do not have any interviews</h3>
        </div>

        <div style="text-align: center;">
          Good thing its easy to schedule one.
        </div>

        <div style="text-align: center;">
          You can schedule interviews for a single candidate.
        </div>

        <br>

        <div style="text-align: center;">
          <button
            routerLink = "/interviews/add-new-interview"
            mat-raised-button style="outline: 0 ;">Schedule an interview</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

    <ng-template #interviewExists>

      <div class="row" style="margin-top: 10px;">
        <div class="col-xl-12">

          <div class="row">
            <div class="col-xl-12">
              <mat-form-field
                style="width: 100%;">
                <input
                  matInput
                  [(ngModel)]="term"
                  placeholder="Search interviews">
              </mat-form-field>
            </div>
          </div>

          <div class="row" *ngFor="let interview of interviews | searchJob:term"
               style="padding-bottom: 7px; padding-top: 7px;">

            <div class="col-xl-1" style="padding-top: 18px;">

              <mat-checkbox (click)="$event.stopPropagation()"
                            color="primary"
                            (change)="$event ? selection.toggle(interview) : null"
                            [checked]="selection.isSelected(interview)">
              </mat-checkbox>

            </div>

            <div class="col-xl-1"
                 routerLink="/interviews/{{ interview.Id }}"
                 style="
                 text-align: center;
                 border: 2px solid whitesmoke;
                 outline: 0;
                 cursor: pointer;
                 border-radius: 2px;">

              <div class="row">
                <div class="col-xl-12"
                     style="font-weight: bold; text-align: center;">

                  {{ getInterviewDay(interview) }}

                </div>
              </div>
              <div class="row">
                <div class="col-xl-12"
                     style="font-size: 9px; font-weight: bold; text-align: center;">

                  {{ getInterviewMonth(interview) | uppercase}}

                </div>
              </div>
              <div class="row">
                <div class="col-xl-12"
                     style="
                     font-size: 9px;
                     background-color: #1a237e;
                     color: white;
                     font-weight: bold; text-align: center;">

                  {{ getInterviewYear(interview) }}

                </div>
              </div>

            </div>

            <div class="col-xl-10">

              <div class="row">
                <div class="col-xl-12" style="padding-top: 3px;">
                  <strong
                    style="
                       outline: 0;
                       cursor: pointer;"
                    routerLink="/interviews/{{ interview.Id }}"
                  > {{ interview.StartTime }} - {{ interview.Name }} </strong>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12" style="font-size: 12px;">
                  <strong><i class="fas fa-ribbon"></i> {{ interview.InterviewType }} - <i class="fas fa-users"></i> Sanjid Haque</strong>
                </div>
              </div>

            </div>



          </div>

        </div>
      </div>

    </ng-template>



  </div>

</div>
