<br>
<form
  [formGroup]="addNewCandidateForm"
  (ngSubmit)="onSubmitNewCandidate()"
  #form="ngForm">
<div class="row">

  <div class="col-xl-10">
    <h3>New Candidate</h3>
  </div>


  <div class="col-xl-1 pr-xl-1">
    <button
      type="submit"
      [disabled]="!form.valid"
      style="width: 100%;
      outline: 0;"
      color="primary"
      mat-flat-button>Save</button>
  </div>

  <div class="col-xl-1 pl-xl-1">
    <button
      type="button"
      style="width:
      100%;outline: 0;"
      routerLink="/candidates"
      mat-stroked-button>Cancel</button>
  </div>

</div>
<hr>


<div class="row">

  <div class="col-xl-7">

    <div class="row">
      <div class="col-xl-12">

        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Select Job</mat-label>
          <mat-select formControlName="job">
            <mat-option *ngIf="jobs.length == 0">No job is available</mat-option>
            <mat-option *ngFor="let job of jobs" [value]="job"> {{ job }} </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>

    <div class="row">

      <div class="col-xl-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            formControlName="firstName"
            required
            matInput>
          <mat-error>You must enter a first name!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            formControlName="lastName"
            matInput>
        </mat-form-field>
      </div>

    </div>


    <div class="row">

      <div class="col-xl-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            required
            matInput>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Mobile</mat-label>
          <input
            formControlName="mobile"
            matInput>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-xl-12">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Address</mat-label>
          <input
            formControlName="address"
            matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="row">

      <div class="col-xl-4">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>City</mat-label>
          <input
            formControlName="city"
            required
            matInput>
          <mat-error>You must enter a city!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-4">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>State</mat-label>
          <input
            formControlName="state"
            matInput>
        </mat-form-field>
      </div>

      <div class="col-xl-4">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Country</mat-label>
          <input
            formControlName="country"
            required
            matInput>
          <mat-error>You must enter a country!</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-xl-12">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Select Candidate Source</mat-label>
          <mat-select required formControlName="candidateSource">
            <mat-option *ngIf="sources.length == 0">No candidate source is available</mat-option>
            <mat-option *ngFor="let source of sources" [value]="source"> {{ source }} </mat-option>
          </mat-select>
          <mat-error>You must select a source!</mat-error>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div class="col-xl-5">

    <div class="row">
      <div class="col-xl-6 col-4" style="padding-top: 7px;">
        <h6>Attachments</h6>
      </div>
      <div class="col-xl-6 col-4 text-xl-right" >
        <button style="outline: 0;" matTooltip="Add attachments" mat-flat-button><i class="fas fa-plus-circle"></i> Add</button>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-xl-12">
        <p style="font-size: .9rem; opacity: .5;"> No Attachments </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xl-12">
        <h6>Social</h6>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xl-12">

        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Facebook</mat-label>
          <input
            formControlName="facebook"
            matInput>
        </mat-form-field>

      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">

        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Linkedin</mat-label>
          <input
            formControlName="linkedin"
            matInput>
        </mat-form-field>

      </div>
    </div>

  </div>


</div>
</form>

