<br>
<form
  [formGroup]="addNewJobForm"
  (ngSubmit)="onSubmitNewJob()"
  #form="ngForm">
  <div class="row">

    <div class="col-xl-10">
      <h3>New Job Opening</h3>
    </div>

    <div class="col-xl-1 pr-xl-1">
      <button
        [disabled]="!form.valid || isDisabled"
        type="submit"
        style="width: 100%;
      outline: 0;"
        color="primary"
        mat-flat-button>Save</button>
    </div>

    <div class="col-xl-1 pl-xl-1">
      <button
        type="button"
        style="width:
      100%;outline: 0;"
        routerLink="/jobs"
        mat-stroked-button>Cancel</button>
    </div>

  </div>
  <hr>

  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xl-8">

      <div class="row">
        <div class="col-xl-9">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Job Title</mat-label>
            <input
              formControlName="jobTitle"
              required
              matInput>
            <mat-error>You must enter a job name!</mat-error>
          </mat-form-field>

        </div>

        <div class="col-xl-3">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Job Code</mat-label>
            <input
              formControlName="jobCode"
              matInput>
          </mat-form-field>


        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <h6>Job Description</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">


            <angular-editor
              class="jobEditor"
              formControlName="jobDescription"
              [config]="jobDescriptionConfig">
            </angular-editor>



        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xl-12">
          <h6>Job Requirements</h6>
        </div>
      </div>
      <hr>
      <br>


      <div class="row">
        <div class="col-xl-12">
          <h6>Immediate</h6>
        </div>
      </div>


      <div class="row">
        <div class="col-xl-12">


          <angular-editor
            class="jobEditor"
            formControlName="jobImmediate"
            [config]="jobImmediateConfig">
          </angular-editor>



        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xl-12">
          <h6>Intermediate</h6>
        </div>
      </div>


      <div class="row">
        <div class="col-xl-12">


          <angular-editor
            class="jobEditor"
            formControlName="jobIntermediate"
            [config]="jobIntermediateConfig">
          </angular-editor>



        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-xl-12">
          <h6>Good To Have</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">


          <angular-editor
            class="jobEditor"
            formControlName="jobGoodToHave"
            [config]="jobGoodToHaveConfig">
          </angular-editor>



        </div>
      </div>




    </div>



    <div class="col-xl-4">

      <div class="row">
        <div class="col-xl-12">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Location</mat-label>
            <input
              required
              formControlName = "jobLocation"
              matInput>
            <mat-error>You must enter a job location!</mat-error>
          </mat-form-field>

        </div>
      </div>


      <div class="row">
        <div class="col-xl-12">

          <h6>Department <i
            (click)="addNewDepartment()"
            matTooltip="Add a new department"
            matTooltipPosition="right"
            style="cursor: pointer;"
            class="fas fa-plus-circle"></i></h6>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Select Department</mat-label>
            <mat-select required formControlName="departmentId">
              <mat-option
                *ngIf="departments.length == 0">No department is available</mat-option>
              <mat-option
                *ngFor="let department of departments" [value]="department.id"> {{ department.name }} </mat-option>
            </mat-select>
            <mat-error>You must select a department!</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

          <h6>Job Function <i
            (click)="addNewJobFunction()"
            matTooltip="Add a new job function"
            matTooltipPosition="right"
            style="cursor: pointer;"
            class="fas fa-plus-circle"></i></h6>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Select Job Function</mat-label>
            <mat-select formControlName="jobFunctionalityId">
              <mat-option
                *ngIf="jobFunctionalities.length == 0">No job function is available</mat-option>
              <mat-option
                *ngFor="let jobFunctionality of jobFunctionalities" [value]="jobFunctionality.id"> {{ jobFunctionality.name }} </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>


      <div class="row">
        <div class="col-xl-12">

          <h6>Employment Type <i
            (click)="addNewJobType()"
            matTooltip="Add a new job type"
            matTooltipPosition="right"
            style="cursor: pointer;"
            class="fas fa-plus-circle"></i></h6>

        </div>
      </div>


      <div class="row">
        <div class="col-xl-12">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Select Job Type</mat-label>
            <mat-select formControlName="employmentTypeId">
              <mat-option
                *ngIf="employmentTypes.length == 0">No job type is available</mat-option>
              <mat-option
                *ngFor="let
                employmentType
                of employmentTypes"
                [value]="employmentType.id">
                {{ employmentType.name }} </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>


      <div class="row">
        <div class="col-xl-6">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Job Positions</mat-label>
            <input
              required
              min="0"
              type="number"
              formControlName = "jobPositions"
              matInput>
            <mat-error *ngIf="addNewJobForm.controls['jobPositions'].invalid">{{getJobPositionErrorMessage()}}</mat-error>
          </mat-form-field>

        </div>

        <div class="col-xl-6">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Closing Date</mat-label>
            <input
              [min]="minDate"
              formControlName = 'jobClosingDate'
              matInput
              [matDatepicker]="picker"
              readonly
              (click)="picker.open()"
            >
            <mat-datepicker-toggle
              matTooltip = "Click Me!"
              matTooltipPosition = "above"
              matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker
              #picker
            ></mat-datepicker>
          </mat-form-field>

        </div>
      </div>



      <div class="row">
        <div class="col-xl-12">

          <h6>Job Experience</h6>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-6">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>From</mat-label>
            <input
              type="number"
              min="0"
              formControlName = "jobExperienceStarts"
              matInput>
            <mat-error>This value is invalid!</mat-error>
          </mat-form-field>

        </div>

        <div class="col-xl-6">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>To</mat-label>
            <input
              type="number"
              min="0"
              formControlName = "jobExperienceEnds"
              matInput>
            <mat-error>This value is invalid!</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

          <h6>Job Salary</h6>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-6">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>From</mat-label>
            <input
              type="number"
              min="0"
              formControlName = "jobSalaryStarts"
              matInput>
            <mat-error>This value is invalid!</mat-error>
          </mat-form-field>

        </div>

        <div class="col-xl-6">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>To</mat-label>
            <input
              type="number"
              min="0"
              formControlName = "jobSalaryEnds"
              matInput>
            <mat-error>This value is invalid!</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

          <div class="row">

            <div class="col-xl-6 col-4" style="padding-top: 7px;">
              <h6>Attachments</h6>
            </div>

            <div class="col-xl-6 col-4 text-xl-right" >
              <button
                style="outline: 0;"
                type="button"
                matTooltip="Add attachments"
                (click)="getFile()"
                mat-flat-button><i class="fas fa-plus-circle"></i> Add</button>
            </div>

            <input id="choseFile"
                   #fileUpload
                   (change)="fileChangeEvent($event)"
                   multiple
                   hidden
                   type="file"/>
          </div>


          <hr>

          <div class="row" *ngIf="jobAttachments.length == 0; else fileExists">
            <div class="col-xl-12">
              <p style="font-size: .9rem; opacity: .5;"> No Attachments </p>
            </div>
          </div>

          <ng-template #fileExists>

            <div class="row">
              <div class="col-xl-12">

                <ol>
                  <li *ngFor="let
                   jobAttachment of
                   jobAttachments; let i = index"
                      style="font-size: .9rem;
            color: black; font-weight: bold;
            padding-top: 8px;
            padding-bottom: 2px;
            text-align: left;">

                    <div class="row">

                      <div class="col-xl-10">

                        {{ jobAttachment.FileName }}

                      </div>


                      <div class="col-xl-2">
                        <i
                          style="cursor: pointer;"
                          (click)="removeSelectedFiles(i)"
                          matTooltip="Remove"
                          matTooltipPosition="before"
                          class="far fa-times-circle"></i>
                      </div>

                    </div>

                  </li>
                </ol>

              </div>
            </div>


            <hr>

          </ng-template>

          <div class="row" *ngIf="jobAttachments.length != 0">
            <div class="col-xl-12 text-xl-right">
              <button
                type="button"
                style="outline: 0;"
                mat-flat-button
                (click)="removeAllSelectedFiles()">
                <i class="far fa-times-circle"></i> Remove All</button>
            </div>
          </div>

        </div>
      </div>









    </div>
  </div>


</form>
