


.mat-button-toggle-label-content{
  line-height: 30px!important;
}
.mat-button-toggle-checked{
  background-color: indigo!important;
  color: white!important;

}

.mat-button-toggle-button{
  outline: 0!important;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-top: 9px;
}
