<br>


<div class="row">

  <div class="col-xl-2">
    <div class="row">


      <div
        class="col-xl-4">
        <button
          routerLink="/jobs"
          matTooltip="Job Panel"
          matTooltipPosition="above"
          style="outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="far fa-arrow-alt-circle-left"></i></button>
      </div>

      <div class="col-xl-4">
        <button
          (click)="previousJob()"
          matTooltip="Previous Job"
          matTooltipPosition="above"
          style="background-color: transparent; outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="fas fa-angle-double-left"></i></button>
      </div>

      <div class="col-xl-4">
        <button
          (click)="nextJob()"
          matTooltip="Next Job"
          matTooltipPosition="above"
          style="background-color: transparent; outline: 0;"
          mat-flat-button><i
          style="font-size: 30px;"
          class="fas fa-angle-double-right"></i></button>
      </div>

    </div>
  </div>



  <div class="col-xl-8" *ngIf="!job.IsArchived; else showArchivedMessage">

    <div class="row" *ngIf="!job.IsPublished">
      <div class="col-xl-12"
           style="
       font-weight: bold;
       opacity: .7;
       text-align: center;">
        Internal Opening
      </div>
    </div>

    <div class="row"
         *ngIf="job.JobClosingDate !== '' && job.IsPublished
                && getClosingDays() > 0">
      <div class="col-xl-12"
           style="
       font-weight: bold;
       opacity: .7;
       text-align: center;">
        Closing On {{ getClosingDays() }} Days
      </div>
    </div>



    <div class="row"
         *ngIf="job.JobClosingDate !== '' && job.IsPublished
                && getClosingDays() < 0">
      <div class="col-xl-12"
           style="
       font-weight: bold;
       opacity: .7;
       text-align: center;">
        Job Closed
      </div>
    </div>

  </div>

  <ng-template #showArchivedMessage>
    <div class="col-xl-8" style="
       font-weight: bold;
       opacity: .7;
       text-align: center;">
      Archived
    </div>
    <div class="col-xl-2 text-xl-right">
      <button
        (click)="restoreJobs(job)"
        style="
        outline: 0;"
        mat-stroked-button><i class="far fa-window-restore"></i> Restore</button>
    </div>
  </ng-template>



  <div
    *ngIf="!job.IsPublished && !job.IsArchived"
    class="col-xl-2 text-xl-right">
    <button
      style="
      outline: 0;"
      color="primary"
      mat-raised-button>  <i class="fas fa-bullhorn"></i> Publish</button>
  </div>

  <div
    *ngIf="job.IsPublished && !job.IsArchived"
    class="col-xl-2 text-xl-right">
    <button
      style="
      outline: 0;"
      color="primary"
      mat-raised-button>  <i class="fas fa-exclamation-triangle"></i> Unpublish</button>
  </div>


</div>


<hr>

<div class="row">
  <div class="col-xl-9">

    <div class="row">
      <div class="col-xl-12" style="font-size: 30px;">
        {{ job.JobTitle }}
      </div>
    </div>

    <div class="row" style="margin-top: 5px;">
      <div class="col-xl-12"
               style="font-size: 17px;">
            <span
              title="Job Code"
              *ngIf="job.JobCode !== ''"
            ><i class="fas fa-paperclip"></i> {{ job.JobCode }} &nbsp;
            </span>

            <span
              title="Department"
            ><i class="far fa-building"></i> {{ getDepartmentName(job.DepartmentId) }} &nbsp;
            </span>

            <span
              title="Location"
            ><i class="fas fa-map-marker-alt"></i> {{ job.JobLocation }}
            </span>


      </div>
    </div>

  </div>

  <div class="col-xl-3">

    <div class="row">

      <div class="col-xl-4 text-xl-center">
         <button
           matTooltip="Information"
           matTooltipPosition="below"
           style="outline: 0; font-size: 20px; width: 100%;"
           mat-flat-button routerLinkActive="active"
           routerLink="job-info"><i class="fas fa-info"></i></button>
      </div>

      <div class="col-xl-4 text-xl-center">
        <button
          matTooltip="Candidates"
          matTooltipPosition="below"
          style="outline: 0; font-size: 20px; width: 100%;"
          mat-flat-button
          routerLinkActive="active"
          routerLink="job-candidates"><i class="fas fa-box-open"></i></button>
      </div>

      <div class="col-xl-4 text-xl-center">
        <button
          matTooltip="Analytics"
          matTooltipPosition="below"
          style="outline: 0; font-size: 20px; width: 100%;"
          mat-flat-button
          routerLinkActive="active"
          routerLink="job-analytics"><i class="fas fa-chart-line"></i></button>
      </div>

    </div>


  </div>
</div>

<hr>


<router-outlet></router-outlet>
