<div class="row" >



  <div class="col-xl-6" style="text-align: center; padding-top: 20px;">
    <h5>Jobs available in {{ department.name }}</h5>
  </div>

  <div class="col-xl-3" style="text-align: right; padding-top: 20px;">
    <button style="outline: 0;" mat-stroked-button>New Job Post</button>
  </div>

</div>

<div class="row">
  <div class="col-xl-4 list-group-item"
       *ngFor="let job of jobs"
       title="View details"
       style="cursor: pointer; text-align: center; outline: 0;"
  >
    {{ job.name }}
  </div>
</div>

