<br>
<br>

<div class="row">
  <div class="col-xl-8">
    <h6>COMPANY INFO</h6>
    <hr>
  </div>
</div>


<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Name">
    <i class="fas fa-store-alt"></i> &nbsp; {{ company.CompanyName }}
      <span style="font-size: 13px;" *ngIf="company.CompanyName === 'Headblocks'">
 <i class="fas fa-shield-alt"></i>
        </span>
    </span>

  </div>
</div>

<div
  *ngIf="company.CompanyAddress !== ''"
  class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Address">
      <i class="fas fa-map-marked"></i>
      &nbsp; {{ company.CompanyAddress }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Email">
       <i class="far fa-envelope"></i> &nbsp; {{ company.CompanyEmail }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Phone">
    <i class="fas fa-phone"></i> &nbsp; {{ company.CompanyPhoneNumber }}
    </span>

  </div>
</div>


<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Joining date"><i class="far fa-calendar-alt"></i>
      &nbsp; {{ company.JoiningDateTime }}
    </span>

  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-8">
    <h6>ADMIN INFO</h6>
    <hr>
  </div>
</div>


<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="User name">
    <i class="fas fa-signature"></i> &nbsp; {{ company.AdminUserName }}
      <span style="font-size: 13px;" *ngIf="company.CompanyName === 'Headblocks'">
        <i class="fas fa-shield-alt"></i>
        </span>
    </span>

  </div>
</div>

<div
  *ngIf="company.AdminFullName !== ''"
  class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Full name">
      <i class="fas fa-file-signature"></i> &nbsp; {{ company.AdminFullName }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Email">
       <i class="far fa-envelope"></i> &nbsp; {{ company.AdminEmail }}
    </span>

  </div>
</div>

<div class="row" style="padding-bottom: 5px;padding-top: 5px;">
  <div class="col-xl-8">

    <span title="Phone">
    <i class="fas fa-phone"></i> &nbsp; {{ company.AdminPhoneNumber }}
    </span>

  </div>
</div>


<br>
<br>

<div class="row">
  <div class="col-xl-8">

    <button
      routerLink="/settings/manage-companies/{{companyId}}/edit-company"
      style="outline: 0;"
      mat-stroked-button color="primary">Edit</button> &nbsp;
    <button
      [disabled]="isDisabled"
      (click)="deleteCompany()"
      style="outline: 0;"
      mat-stroked-button color="primary">Delete</button> &nbsp;

  </div>
</div>

<br>
<br>
