<br>
<br>

<div class="row">
  <div class="col-xl-8">
    <h6>EDIT USER INFO</h6>
    <hr>
  </div>
</div>




<form [formGroup]="editUserAccountForm"
      (ngSubmit)="editUserAccount()"
      #form="ngForm">

  <div class="row">

    <div class="col-xl-3">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>User Name</mat-label>
        <input
          formControlName="userName"
          required
          matInput>
        <mat-error>You must enter an user name!</mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-5">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input
          formControlName="fullName"
          matInput>
      </mat-form-field>
    </div>

  </div>



  <div class="row">

    <div class="col-xl-5">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          required
          matInput>
        <mat-error *ngIf="editUserAccountForm.get('email').invalid">
          {{getEmailErrorMessage('email')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-3">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          formControlName="phoneNumber"
          required
          matInput>
        <mat-error>You must enter a phone number!</mat-error>
      </mat-form-field>
    </div>

  </div>



  <div class="row" *ngIf="!userAccount.IsOwner">

    <div class="col-xl-8">

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Select Role</mat-label>
        <mat-select
          required
          formControlName="roleName"
          >
          <mat-option *ngIf="roles.length == 0">No role is available</mat-option>
          <mat-option *ngFor="let role of roles"
                      [value]="role.Name"> {{ role.Name }} </mat-option>
        </mat-select>
        <mat-error>You must select a user role!</mat-error>
      </mat-form-field>

    </div>

  </div>

  <div class="row">

    <div class="col-xl-8">

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Select Department</mat-label>
        <mat-select
          required
          formControlName="departmentName">
          <mat-option *ngIf="departments.length == 0">
            No department is available
          </mat-option>
          <mat-option
            *ngFor="let department of departments"
            [value]="department.Id">
            {{ department.Name }}
          </mat-option>
        </mat-select>
        <mat-error>You must select a department!</mat-error>
      </mat-form-field>

    </div>

  </div>

  <div class="row">
    <div class="col-xl-8">
      <hr>
    </div>
  </div>

  <div class="row">


    <div class="col-xl-12">
      <button
        type="submit"
        [disabled]="form.invalid || isDisabled"
        style="outline: 0;"
        color="primary"
        mat-flat-button>Save</button> &nbsp;

      <button
        type="button"
        style="outline: 0;"
        routerLink="/settings/manage-user-accounts"
        mat-stroked-button>Cancel</button>

    </div>


  </div>



</form>


